/* Table Alignment Helpers
*******************************************************************************/
.align-left {
  text-align: left !important; }
  .align-left--all {
    text-align: left !important; }
    .align-left--all * {
      text-align: left !important; }

.align-right {
  text-align: right !important; }
  .align-right--all {
    text-align: right !important; }
    .align-right--all * {
      text-align: right !important; }

.align-center {
  text-align: center !important; }
  .align-center--all {
    text-align: center !important; }
    .align-center--all * {
      text-align: center !important; }


.border, .border-all, .border-all * {
    border: 1px solid $oc-gray-5 !important;
}
.border-top, .border-top-all, .border-top-all * {
    border-top: 1px solid $oc-gray-5 !important;
}
.border-bottom, .border-bottom-all, .border-bottom-all * {
    border-bottom: 1px solid $oc-gray-5 !important;
}
.border-right, .border-right-all, .border-right-all * {
    border-right: 1px solid $oc-gray-5 !important;
}
.border-left, .border-left-all, .border-left-all * {
    border-left: 1px solid $oc-gray-5 !important;
}
