html, body {
  min-width: 425px;
  width: 100%;
}

/* images can't be wider than their containers */
img, iframe {
  max-width: 100%;
}

/* tables inherit font size (some browsers set a default table font size) */
table {
  font-size: inherit;
}

pre {
  background-color: $oc-yellow-0;
  font-family: monospace;
  white-space: pre-wrap;
}
