.footer {
	background-color: $oc-gray-1;
	border-bottom: 1px solid $oc-gray-5;
	border-top: 1px solid $oc-gray-4;
  padding-bottom: 2rem;
  position: relative;
  h3 {
  	border-bottom: 1px solid $oc-gray-4;
  	font-size: 18px;
  	font-weight: 600;
  	padding: 2rem 0 1rem;
  	text-transform: uppercase;
  }
  ul {
  	font-size: 13px;
  	list-style-type: none;
  	margin-top: 15px;
  }
  ul li a {
  	padding-bottom: .5rem;
  	display: block;
  }
}

.footer-bottom {
	background: $oc-gray-2;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
