@import 'open-color';
@import 'alignments';
@import 'defaults';
@import 'footer';

// * {
//   border: 1px solid red;
// }

body {
  background-color: $oc-gray-0;
}

.page-wrap {
  min-height: 100vh;
}

.asteriskField {
    display: none;
}
