@import 'open-color';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

html, body {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

/* List styling */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove shadow and outline on focus */
input[type=name], input[type=email], input[type=text], input[type=tel], input[type=submit],
input[type=number], input[type=password], input[type=button] textarea, button, a, select {
  outline: none !important;
  box-shadow: 0, 0, 0, transparent;
  text-decoration: none;
}
input[type=name]:focus, input[type=email]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=submit]:focus,
input[type=number]:focus, input[type=password]:focus, input[type=button] textarea:focus, button:focus, a:focus, select:focus {
  outline: none !important;
  box-shadow: 0, 0, 0, transparent;
  text-decoration: none;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  outline: none;
  box-shadow: 0, 0, 0, transparent;
}

/* images can't be wider than their containers */
img, iframe {
  max-width: 100%;
}

input[type=name], input[type=email], input[type=text], input[type=tel],
input[type=number], input[type=password], textarea, select {
  max-width: 100%;
}

/* tables inherit font size (some browsers set a default table font size) */
table {
  font-size: inherit;
}

pre {
  background-color: $oc-yellow-0;
  font-family: monospace;
  white-space: pre-wrap;
}

/* Table Alignment Helpers
*******************************************************************************/
.align-left {
  text-align: left !important; }
  .align-left--all {
    text-align: left !important; }
    .align-left--all * {
      text-align: left !important; }

.align-right {
  text-align: right !important; }
  .align-right--all {
    text-align: right !important; }
    .align-right--all * {
      text-align: right !important; }

.align-center {
  text-align: center !important; }
  .align-center--all {
    text-align: center !important; }
    .align-center--all * {
      text-align: center !important; }

/* Profile
*******************************************************************************/
.profile__avi {
  height: 200px;
  width: 200px;
}
.profile__user h1 {
  font-weight: 800;
  color: #f1f3f5;
  text-shadow: 2px 2px 4px #000000;
}


/* Colors
*******************************************************************************/

body {
  background-color: $oc-gray-3;
}

.navbar {
  border-radius: 0;
}
