@import 'open-color';
@import 'alignments';
@import 'defaults';
@import 'footer';

// * {
//   border: 1px solid red;
// }

body {
  background-color: $oc-gray-0;
}

.page-wrap {
  min-height: 100vh;
}

.asteriskField {
    display: none;
}

/* Table Component
*******************************************************************************/

.table-container {
  width: 100%;

  thead {
      background: $oc-gray-3;
      border: 1px solid $oc-gray-5;
  }
}
.table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    color: $oc-gray-8;
    width: 100%;
    word-break: break-all;
}
.table-container tfoot {
    background: $oc-gray-4;
}
.table-container tfoot td, .table-container tfoot th {
    color: $oc-blue-8;
    font-weight: bold;
}
.table-container th {
    background: $oc-gray-3;
    color: $oc-gray-8;
    font-weight: bold;
    font-size: 12px !important;
    padding: 8px 5px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    word-break: break-all;
    vertical-align: middle;
}
.table-container td {
    overflow-x: hidden;
    padding: 3px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    vertical-align: middle;
}
.table-container tf {
    color: $oc-blue-8;
}
.table-container .stripe {
    background: $oc-gray-2;
}
.table-container .striped tr:nth-child(even) td {
    background: $oc-gray-2;
}
