{% load static %}

<!-- Shoutbox component -->
<a name="shoutbox"></a>
<div class="panel">
  <div class="panel__header" data-role="collapsible-toggle" data-key="shoutbox">
    <div class="panel__title">Shoutbox</div>
  </div>
  <div class="panel__body" data-role="collapsible" data-key="shoutbox">
    <div id="shoutBox" class="shoutList"></div>
    {% if user.is_authenticated and user.profile.can_shout %}
    <form class="shoutForm">
      <div id="shoutboxError"></div>
      <textarea id="shoutEditor" class="shout-editor" rows="2" cols="40" style="display: none;"></textarea>
      <div class="padding-top">
        <button class="button-green" id="submitShout" type="button"><i class="fa fa-bullhorn fa-fw"></i> Shout</button>
        <button class="button" id="reloadShouts" type="button"><i class="fa fa-sync-alt fa-fw"></i> Reload</button>
      </div>
    </form>
    {% else %}
    <div class="shoutForm">
      <div class="padding-top">
        <button class="button" id="reloadShouts" type="button"><i class="fa fa-sync-alt fa-fw"></i> Reload</button>
      </div>
    </div>
    {% endif %}
  </div>
</div>
