django
djangorestframework
pillow
psycopg2
django-precise-bbcode
django-cors-headers
easy-thumbnails
graphene-django
django-filter
django-simple-captcha

# Scss
# Make sure that you have sass executable installed. See SASS official site for details.
libsass
django-compressor
django-sass-processor

# Dev tools
django-extensions
