django
djangorestframework
pillow
psycopg2
django-precise-bbcode
django-crispy-forms
easy-thumbnails

# Scss
# Make sure that you have sass executable installed. See SASS official site for details.
libsass
django-compressor
django-sass-processor

# Dev tools
django-extensions
