{% load crispy_forms_tags %}

<div class="panel panel-default">
  <div class="panel-body">
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-2 col-xs-2 align-center--all">
        <h4>{{user.username}}</h4>
        <img src="/media/{{user.image}}" alt="" />
      </div>
      <div class="col-md-10 col-xs-10">
        <form method="post">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <input type="submit" class="btn btn-success form-control" value="Submit" />
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>
