{% extends 'django_boards/themes/punkweb/base.html' %}
{% load static %}

{% block title %}Profile Settings{% endblock %}
{% block meta_description %}Edit your profile settings{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="djcontainer">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">Profile Settings</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Board</a></li>
          <li><a href="{% url 'board:me' %}">Profile</a></li>
          <li>Settings</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="djcontainer">
    <div class="panel">
      <div class="panel__body padding">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button-green" type="submit"><i class="fa fa-cog fa-fw"></i> Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
