{% extends 'django_boards/themes/punkweb/base.html' %}

{% block title %}Update Thread{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="djcontainer">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">Update Thread</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Board</a></li>
          <li><a href="{% url 'board:category' object.category.parent.id %}">{{object.category.parent.name}}</a></li>
          <li><a href="{% url 'board:subcategory' object.category.id %}">{{object.category.name}}</a></li>
          <li><a href="{% url 'board:thread' object.id %}">Thread</a></li>
          <li>Update</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="djcontainer">
    <div class="panel">
      <div class="panel__header">
        <div class="panel__title">Update {{object.title}} by {{object.user.username}}</div>
      </div>
      <div class="panel__body padding">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button-green" type="submit"><i class="fa fa-edit fa-fw"></i> Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
