{% extends 'django_boards/themes/punkweb/base.html' %}
{% load static %}

{% block title %}{{thread.title}}{% endblock %}
{% block meta_description %}{{thread.content.rendered|striptags|truncatewords:160}}{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="djcontainer">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">{{thread.title}}</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="/">Board</a></li>
          <li><a href="{% url 'board:category' thread.category.parent.id %}">{{thread.category.parent.name}}</a></li>
          <li><a href="{% url 'board:subcategory' thread.category.id %}">{{thread.category.name}}</a></li>
          <li>Thread</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="djcontainer">
    <center>
      <nav class="margin">
        <ul class="pagination">
          {% if posts.has_previous %}
          <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
          <li><a href="?page={{posts.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
          {% else %}
          <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
          <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
          {% endif %}
          {% for page in posts.paginator.page_range %}
          {% if page == posts.number %}
          <li class="active"><a>{{page}}</a></li>
          {% else %}
          <li><a href="?page={{page}}">{{page}}</a></li>
          {% endif %}
          {% endfor %}
          {% if posts.has_next %}
          <li><a href="?page={{posts.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
          <li><a href="?page={{posts.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a></li>
          {% else %}
          <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
          <li class="disabled"><a><i class="fa fa-angle-double-right"></i></a></li>
          {% endif %}
        </ul>
      </nav>
    </center>
    {% if posts.number == 1 %}
    <div class="panel">
      <div class="panel__header" data-role="collapsible-toggle" data-key="thread-{{thread.id}}">
        <div class="panel__title">{{thread.title}}</div>
      </div>
      <div class="panel__body" data-role="collapsible" data-key="thread-{{thread.id}}">
        <div class="thread">
          <div class="thread__user">
            <a href="{% url 'board:profile' thread.user.username %}">
              <img src="{{thread.user.profile.avatar_small}}" alt="..." />
            </a>
            <div class="thread__user__name">
              {% if thread.user.profile.online %}<div class="onlineDot"></div>{% endif %} <a href="{% url 'board:profile' thread.user.username %}">{{thread.user.profile.rendered_username}}</a>
            </div>
            <div class="thread__user__rank">
              {{thread.user.profile.rank_title}}
            </div>
            <div class="thread__user__posts">Posts: {{thread.user.profile.post_count}}</div>
            <div class="thread__user__membersince">
              Join date: {{thread.user.profile.created|date:'m/d/y'}}
            </div>
          </div>
          <div class="thread__body">
            <div class="thread__content">
              {{thread.content.rendered}}
              {% if thread.reported and user.is_authenticated and user.is_staff %}
              <div style="margin: 1rem">
                <blockquote>
                  <div>This thread has unresolved reports.</div>
                </blockquote>
              </div>
              {% endif %}
            </div>
            {% if thread.user.profile.signature.rendered and BOARD_SETTINGS.SIGNATURES_ENABLED %}
            <div class="thread__signature">
              {{thread.user.profile.signature.rendered}}
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="thread__actions">
              <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{thread.upvotes}}</a>
              <a><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{thread.downvotes}}</a>
              <a class="button" href="{% url 'board:report-thread' thread.id %}" name="button"><i class="fa fa-flag fa-fw"></i> Report</a>
              {% if user.id == thread.user.id or user.is_staff %}
              <a class="button" href="{% url 'board:thread-update' thread.id %}" name="button"><i class="fa fa-edit fa-fw"></i> Update</a>
              <a class="button-red" href="{% url 'board:thread-delete' thread.id %}" name="button"><i class="fa fa-trash fa-fw"></i> Delete</a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="panel__footer">
        {{thread.created|date:"d M Y, g:i A"}}
      </div>
    </div>
    {% endif %}
    {% if posts %}
    {% for post in posts %}
    <a name="p{{post.post_number}}"></a>
    <div class="panel">
      <div class="panel__header" data-role="collapsible-toggle" data-key="post-{{post.id}}">
        <div class="panel__title align-right">#{{post.post_number}}</div>
      </div>
      <div class="panel__body" data-role="collapsible" data-key="post-{{post.id}}">
        <div class="thread">
          <div class="thread__user">
            <a href="{% url 'board:profile' post.user.username %}">
              <img src="{{post.user.profile.avatar_small}}" alt="..." />
            </a>
            <div class="thread__user__name">
              {% if post.user.profile.online %}<div class="onlineDot"></div>{% endif %} <a href="{% url 'board:profile' post.user.username %}">{{post.user.profile.rendered_username}}</a>
            </div>
            <div class="thread__user__rank">
              {{post.user.profile.rank|default_if_none:'Rookie'}}
            </div>
            <div class="thread__user__posts">Posts: {{post.user.profile.post_count}}</div>
            <div class="thread__user__membersince">
              Join date: {{post.user.profile.created|date:'m/d/y'}}
            </div>
          </div>
          <div class="thread__body">
            <div class="thread__content">
              {{post.content.rendered}}
            </div>
            {% if post.reported and user.is_authenticated and user.is_staff %}
            <blockquote style="margin: .5rem;">
              <span><i class="fa fa-flag fa-fw"></i> This post has open reports.</span>
            </blockquote>
            {% endif %}
            {% if post.user.profile.signature.rendered and BOARD_SETTINGS.SIGNATURES_ENABLED %}
            <div class="thread__signature">
              {{post.user.profile.signature.rendered}}
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="thread__actions">
              <a><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{post.upvotes}}</a>
              <a><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{post.downvotes}}</a>
              <a class="button" href="{% url 'board:report-post' post.id %}" name="button"><i class="fa fa-flag fa-fw"></i> Report</a>
              {% if user.id == post.user.id or user.is_staff %}
              <a class="button" href="{% url 'board:post-update' post.id %}" name="button"><i class="fa fa-edit fa-fw"></i> Update</a>
              <a class="button-red" href="{% url 'board:post-delete' post.id %}" name="button"><i class="fa fa-trash fa-fw"></i> Delete</a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="panel__footer">
        {{post.created|date:"d M Y, g:i A"}}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <center>
      <nav class="margin">
        <ul class="pagination">
          {% if posts.has_previous %}
          <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
          <li><a href="?page={{posts.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
          {% else %}
          <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
          <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
          {% endif %}
          {% for page in posts.paginator.page_range %}
          {% if page == posts.number %}
          <li class="active"><a>{{page}}</a></li>
          {% else %}
          <li><a href="?page={{page}}">{{page}}</a></li>
          {% endif %}
          {% endfor %}
          {% if posts.has_next %}
          <li><a href="?page={{posts.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
          <li><a href="?page={{posts.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a></li>
          {% else %}
          <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
          <li class="disabled"><a><i class="fa fa-angle-double-right"></i></a></li>
          {% endif %}
        </ul>
      </nav>
    </center>
    {% if user.is_authenticated %}
    <div class="panel">
      <div class="panel__header" data-role="collapsible-toggle" data-key="thread-reply">
        <div class="panel__title">Reply to this thread</div>
      </div>
      <div class="panel__body padding" data-role="collapsible" data-key="thread-reply">
        {% if not thread.closed %}
        <img src="{{user.profile.avatar_smaller}}" />
        <hr />
        <form method="post">
          {% csrf_token %}
          {{ post_form.as_p }}
          <button class="button-green" type="submit"><i class="fa fa-pencil-alt"></i> Post Reply</button>
        </form>
        {% else %}
        This thread has been closed.
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
