{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}

<div class="pageContent">
  <ol class="breadcrumb">
    <li><a href="/">Forum</a></li>
    <li><a href="{% url 'parent_category' category.parent.id %}">{{category.parent.name}}</a></li>
    <li class="active">{{category.name}}</li>
  </ol>
  <div class="card">
    <div class="card__title">
      <a href="{% url 'child_category' category.id %}">{{category.name}}</a>
    </div>
    <div class="card__title__sub">
        {{category.description.rendered}}
    </div>
    <div class="card__body">
      <div class="tableComponent">
        <table class="tableComponent__table">
          <!-- <thead>
            <tr>
              <th>
                Title
              </th>
              <th>
                User
              </th>
            </tr>
          </thead> -->
          <tbody>
            {% if posts %}
            {% for post in posts %}
            <tr>
              <td>
                <a href="{% url 'post' post.id %}">{{post.title}}</a>
              </td>
              <td width="25%">
                <a href="{% url 'profile' post.user.id %}">{{post.user}}</a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td>
                Empty Category
                <br/>
                Go back to <a href="{% url 'parent_category' category.parent.id %}">{{category.parent.name}}</a>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}
