{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{parent.name}}{% endblock %}

{% block content %}

<div class="pageContent">
  <ol class="breadcrumb">
    <li><a href="/">Forum</a></li>
    <li class="active">{{parent.name}}</li>
  </ol>
  <div class="card">
    <div class="card__title">
      {{parent.name}}
    </div>
    <div class="card__title__sub">
      <p>{{parent.description.rendered}}</p>
    </div>
    <div class="card__body">
      <div class="tableComponent">
        <table class="tableComponent__table">
          <!-- <thead>
            <tr>
              <th>
                Category
              </th>
            </tr>
          </thead> -->
          <tbody>
          {% if children %}
          {% for category in children %}
          <tr>
            <td>
              <a href="{% url 'child_category' category.id %}">{{category.name}}</a>
              <p>
                {{category.description.rendered}}
              </p>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td>
              Empty Category - <a href="/">Go back</a>
            </td>
          </tr>
          {% endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}
