<div class="row">
  <div class="col-xs-12">
    {{comment.content.rendered}}
  </div>
</div>
{% if comment.user.signature.rendered %}
<hr>
<div class="row">
  <div class="col-xs-12">
    {{comment.user.signature.rendered}}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-xs-12 align-right">
    {% if user.is_authenticated and comment.user == user or user.is_admin %}
    <a href="{% url 'board:comment-update' comment.id %}" class="btn btn-default" name="button">Update</a>
    <a href="{% url 'board:comment-delete' comment.id %}" class="btn btn-danger" name="button">Delete</a>
    {% endif %}
  </div>
</div>
