<div class="row">
  <div class="col-xs-12">
    {{thread.content.rendered}}
  </div>
</div>
{% if thread.user.signature.rendered %}
<hr>
<div class="row">
  <div class="col-xs-12">
    {{thread.user.signature.rendered}}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-xs-12 align-right">
    {% if user.is_authenticated and user == thread.user or user.is_admin %}
    <a href="{% url 'board:thread-update' thread.id %}" class="btn btn-default" name="button">Update</a>
    <a href="{% url 'board:thread-delete' thread.id %}" class="btn btn-danger" name="button">Delete</a>
    {% endif %}
  </div>
</div>
