<div class="well well-sm">
  <ul>
    <li>
      <center>
        <a href="{% url 'users:profile' thread.user.username %}">
          <h3>{{thread.user.username}}</h3>
        </a>
      </center>
    </li>
    <li>
      <center>
        <a href="{% url 'users:profile' thread.user.username %}" class="thumbnail hidden-xs hidden-sm"  style="max-width: 200px">
          <img src="/media/{{thread.user.image}}" alt="..." />
        </a>
      </center>
    </li>
    <li>
      Posts: {{thread.user.num_posts}}
    </li>
  </ul>
</div>
