<div class="page-header">
  <h4>
    <a href="{% url 'users:profile' comment.user.username %}">
      {{comment.user.username}}
    </a>
    <small class="pull-right">
      {{comment.created}}
    </small>
  </h4>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        {% include 'partials/thread/_comment_user.html' %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {% include 'partials/thread/_comment_body.html' %}
      </div>
    </div>
  </div>
</div>
