{% load humanize %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Forum | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'img/icons/steal_your_face_mayan.png' %}">
    <link rel="stylesheet" href="{% static 'sceditor/minified/themes/square.min.css' %}" />
    <!-- Use in production -->
    <!-- <link href="{% static 'scss/punkweb.min.css' %}" rel="stylesheet" type="text/css" /> -->
    <!-- Use in development -->
    <link href="{% sass_src 'scss/punkweb.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="page-wrap">
      <div class="nav nav--upper">
        <div class="nav__flex">
          <div class="nav__left">
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <a class="nav--upper__link" href="/admin/"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Admin</a>
            {% endif %}
            {% endif %}
          </div>
          <div class="nav__right">
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <a class="nav--upper__link" href="{% url 'board:reports-list' %}"><i class="fa fa-ban fa-fw" aria-hidden="true"></i> Reports {% if unresolved_reports > 0%}<span class="badge">{{unresolved_reports}}</span>{% endif %}</a>
            {% endif %}
            <a class="nav--upper__link" href="{% url 'board:inbox' %}"><i class="fa fa-inbox fa-fw" aria-hidden="true"></i> Inbox {% if unread_conversations > 0%}<span class="badge">{{unread_conversations}}</span>{% endif %}</a>
            <div class="nav--upper__link dropdown">
              <i class="fa fa-bell fa-fw" aria-hidden="true"></i> Notifications {% if unread_notifications > 0%}<span class="badge">{{unread_notifications}}</span>{% endif %}
              <div class="dropdown__content">
                {% for notification in notifications %}
                {% if notification.read %}
                <div class="notification">
                  {% if notification.link %}
                  <a href="{% url 'board:notification-redirect' notification.id %}">
                    {{notification.text}}
                  </a>
                  {% else %}
                  {{notification.text}}
                  {% endif %}
                  <br/>
                  {{notification.created|naturaltime}}
                </div>
                {% else %}
                <div class="notification notification--unread">
                  {% if notification.link %}
                  <a href="{% url 'board:notification-redirect' notification.id %}">
                    {{notification.text}}
                  </a>
                  {% else %}
                  {{notification.text}}
                  {% endif %}
                  <br/>
                  {{notification.created|naturaltime}}
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <a class="nav--upper__link" href="{% url 'board:me' %}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Account</a>
            <a class="nav--upper__link" href="{% url 'board:settings' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</a>
            <a class="nav--upper__link" href="{% url 'board:logout' %}"><i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i> Logout</a>
            {% else %}
            <a class="nav--upper__link" href="{% url 'board:register' %}"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Sign up</a>
            <a class="nav--upper__link" href="{% url 'board:login' %}"><i class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></i> Login</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="nav nav--main">
        <div class="nav__flex">
          <div class="nav__left">
            <div class="nav__title"><a href="/">Punk Web</a></div>
            <a class="nav__link" href="{% url 'board:index' %}">Forum</a>
            <a class="nav__link" href="{% url 'board:members-list' %}">Members</a>
          </div>
          <div class="nav__right">
            <form action="/board/search/" method="get">
              <div class="search">
                <span class="fa fa-search fa-fw"></span>
                <input id="id_keyword" maxlength="80" name="keyword" type="text" placeholder="Search" required />
              </div>
            </form>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="djcontainer">
        <div class="footer__content">
          <div>
            Powered by <a target="_blank" href="https://github.com/shakedown-street/django-boards">shakedown-street/django-boards</a>
          </div>
          <div>
            <a href="/api/"><i class="fa fa-terminal fa-fw"></i> API</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- Use in production -->
  <!-- <script src="{% static 'js/bundle.min.js' %}"></script> -->
  <!-- Use in development -->
  <script src="{% static 'js/run_prettify.js' %}"></script>
  <script src="{% static 'sceditor/minified/jquery.sceditor.bbcode.min.js' %}"></script>
  <script src="{% static 'js/spoiler.js' %}"></script>
  <script src="{% static 'js/editor_config.js' %}"></script>
  {% include './components/scripts.html' %}
  {% block extrascript %}{% endblock %}
</html>
