{% extends './base.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}
<!-- <div class="pageHeader">
  <div class="djcontainer">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <h1 class="pageHeader__title">Index</h1>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li>Forum</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="main">
  <div class="djcontainer">
    {% if BOARD_SETTINGS.SHOUTBOX_ENABLED %}
    <a name="shoutbox"></a>
    <div class="panel">
      <div class="panel__header">
        <div class="panel__title">Shoutbox</div>
      </div>
      <div class="panel__body">
        <div id="shoutBox" class="shoutList"></div>
        {% if user.is_authenticated %}
        <form>
          <p id="shoutboxError"></p>
          <textarea id="shoutEditor" class="shout-editor" rows="10" cols="40" style="display: none;"></textarea>
          <input id="submitShout" type="button" name="name" value="Post Shout">
          <input id="reloadShouts" type="button" name="name" value="Reload Shouts">
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="djcontainer">
    <!-- Birthday message -->
    {% if user.birthday_today %}
    <p>
      <i class="fa fa-birthday-cake" aria-hidden="true"></i>
      Happy Birthday!
      <i class="fa fa-birthday-cake" aria-hidden="true"></i>
    </p>
    {% endif %}
    <div class="flexrow">
      <div class="flexcol" style="flex: 3;">
        {% for category in categories %}
        <a name="{{category.parent.name}}"></a>
        <div class="panel">
          <div class="panel__body">
            {% include './index_category_table.html' %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="flexcol" style="flex: 1;">
        <div class="panel recentThreads">
          <div class="panel__header">
            <div class="panel__title">Recent Threads</div>
          </div>
          <div class="panel__body">
            {% for thread in recent_threads %}
            <p class="clearMargin padding">
              <a href="{% url 'board:thread' thread.id %}">{{thread.title}}</a>
              {{thread.created}}
            </p>
            {% endfor %}
          </div>
        </div>
        <div class="panel recentActivity">
          <div class="panel__header">
            <div class="panel__title">Recent Activity</div>
          </div>
          <div class="panel__body">
            {% for thread in recent_activity %}
            <p class="clearMargin padding">
              <a href="{% url 'board:thread' thread.id %}">{{thread.title}}</a>
              {{thread.modified}}
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="flexrow ">
      <div class="flexcol" style="flex: 1;">
        <a name="statistics"></a>
        <div class="panel">
          <div class="panel__header">
            <div class="panel__title">Statistics</div>
          </div>
          <div class="panel__body padding">
            <ul>
              <li style="display: inline">Total posts {{total_posts}} •</li>
              <li style="display: inline">Total threads {{total_threads}} •</li>
              <li style="display: inline">Total members {{member_count}} •</li>
              <li style="display: inline">Newest member <a href="{% url 'board:profile' newest_member.username %}">{{newest_member.username}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/shoutbox.js' %}"></script>
{% endblock %}
