<table class="table full-width">
  <thead>
    <tr>
      <th class="align-left" width="40%">
        <a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a>
      </th>
      <th class="align-center" width="10%">
        Threads
      </th>
      <th class="align-center" width="10%">
        Posts
      </th>
      <th class="align-left hide-on-mobile" width="30%">
        Last Thread
      </th>
    </tr>
  </thead>
  <tbody>
    {% for child in category.children %}
    <tr>
      <td class="align-left">
        <p><a href="{% url 'board:subcategory' child.id %}">{{child.name}}</a></p>
        <p>{{child.description.rendered}}</p>
      </td>
      <td class="align-center">
        <p>{{child.thread_count}}</p>
      </td>
      <td class="align-center">
        <p>{{child.post_count}}</p>
      </td>
      <td class="align-left hide-on-mobile">
        {% if child.last_thread %}
        <p><a href="{% url 'board:thread' child.last_thread.id %}">{{child.last_thread.title|truncatechars_html:30}}</a></p>
        <p>{{child.last_thread.created}}</p>
        <p>by <a href="{% url 'board:profile' child.last_thread.user.username %}"> {{child.last_thread.user.rendered_username|safe}}</a></p>
        {% else %}
        <p>No Threads</p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
