{% extends './base.html' %}
{% load static %}

{% block title %}Members{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="djcontainer">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <h1 class="pageHeader__title">Members List</h1>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Forum</a></li>
          <li>Members</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- TODO: Find members by first letter -->
<!-- TODO: Pagination -->
<div class="main">
  <div class="djcontainer">
    <div class="panel">
      <div class="panel__body">
        {% include './members_table.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
