<table class="table full-width">
  <thead>
    <tr>
      <th class="align-left" width="27.5%">
        Username
      </th>
      <th class="align-right" width="27.5%">
        Rank
      </th>
      <th class="align-center" width="10%">
        Posts
      </th>
      <th class="align-right hide-on-xsmall" width="35%">
        Joined
      </th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>
        <!-- <img src="{{user.avatar_smallest}}" alt="..." /> -->
        <a href="{% url 'board:profile' user.username %}">{{user.rendered_username}}</a>
      </td>
      <!-- TODO: Replace with actual rank -->
      <td class="align-right">
        {% if user.rank %}
          {{user.rank.example_name}}
        {% else %}
          Rookie
        {% endif %}
      </td>
      <td class="align-center">
        {{user.post_count}}
      </td>
      <td class="align-right hide-on-xsmall">
        {{user.created|date:"d M Y"}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
