{% extends './base.html' %}
{% load static %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="djcontainer">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">{{category.name}}</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Forum</a></li>
          <li><a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a></li>
          <li>{{category.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="djcontainer">
    {% if can_post %}
    <button class="button margin-bottom" type="button" name="button">
      <a href="{% url 'board:thread-create' category.id %}">
        <div class="align-right">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Post a new thread
        </div>
      </a>
    </button>
    {% endif %}
    <div class="panel">
      <div class="panel__body">
        {% include './subcategory_table.html' %}
        <div class="align-right">
          <ul class="pagination">
            {% if threads.has_previous %}
            <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
            <li><a href="?page={{threads.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
            {% else %}
            <li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
            <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% for page in threads.paginator.page_range %}
            {% if page == threads.number %}
            <li class="active"><a>{{page}}</a></li>
            {% else %}
            <li><a href="?page={{page}}">{{page}}</a></li>
            {% endif %}
            {% endfor %}
            {% if threads.has_next %}
            <li><a href="?page={{threads.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="?page={{threads.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a></li>
            {% else %}
            <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
            <li class="disabled"><a><i class="fa fa-angle-double-right"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
