@mixin pw-input-base {
  background: transparent;
  border: 2px solid $hr;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 36px;
  outline: none;
  padding: 0 1rem;
  transition: all 0.1s ease-in-out;

  @include placeholder {
    color: $oc-gray-6;
  }

  &.pw-fluid {
    width: 100%;
  }
}

.pw-input {
  @include pw-input-base;

  &:hover {
    border: 2px solid $oc-gray-6;
  }

  &:focus,
  &:active {
    border: 2px solid $primary;
  }

  &:user-invalid {
    border: 2px solid $warn;
  }
}

.pw-input-filled {
  @include pw-input-base;
  background: $oc-gray-1;
  border: 2px solid transparent;
  border-bottom: 2px solid $hr;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &:hover {
    background: $oc-gray-3;
    border-bottom: 2px solid $oc-gray-9;
  }

  &:focus,
  &:active {
    background: $oc-gray-3;
    border-bottom: 2px solid $primary;
  }

  &:user-invalid {
    border-bottom: 2px solid $warn;
  }
}
