<div class="row">
  <div class="col-xs-12">
    {{post.content.rendered}}
  </div>
</div>
{% if post.reported and user.is_authenticated and user.is_staff %}
<div class="alert alert-warning" style="margin: 1rem" role="alert">
  <p>
    This post has open reports.
  </p>
</div>
{% endif %}
{% if post.user.signature.rendered %}
<hr>
<div class="row">
  <div class="col-xs-12">
    {{post.user.signature.rendered}}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-xs-12 align-right">
    {% if user.is_authenticated and post.user.id != user.id %}
    <a href="{% url 'board:report-post' post.id %}" class="btn btn-default" name="button">Report</a>
    {% endif %}
    {% if user.is_authenticated and post.user.id == user.id or user.is_staff %}
    <a href="{% url 'board:post-update' post.id %}" class="btn btn-success" name="button">Update</a>
    <a href="{% url 'board:post-delete' post.id %}" class="btn btn-danger" name="button">Delete</a>
    {% endif %}
  </div>
</div>
