{% load crispy_forms_tags %}

<div class="panel panel-default">
  <div class="panel-body">
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-xs-12">
          <div class="well">
            <ul>
              <li>
                <center>
                  <a>
                    <img src="{{user.avatar_small}}" />
                  </a>
                </center>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-xs-12">
        <form method="post">
          {% csrf_token %}
          {{ post_form|crispy }}
          <input type="submit" class="btn btn-success form-control" value="Submit" />
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>
