<div class="page-header">
  <h4><span style="font-weight: bold;">{{thread.title}}</span> by
    <a href="{% url 'board:profile' thread.user.username %}">
      {{thread.user.username}}
    </a>
    <small class="pull-right">{{thread.created}}</small>
  </h4>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        {% include 'partials/board/thread/_thread_user.html' %}
      </div>
      <div class="col-xs-12">
        {% include 'partials/board/thread/_thread_body.html' %}
      </div>
    </div>
  </div>
</div>
