{% load i18n static sass_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link href="{% sass_src 'scss/punkweb-admin.scss' %}" rel="stylesheet" type="text/css" />
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<link rel="stylesheet" href="{% static 'sceditor/minified/themes/square.min.css' %}" />
<link href="{% sass_src 'scss/punkweb.scss' %}" rel="stylesheet" type="text/css" />
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}" />
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}" />{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div class="page-wrap">
  {% if not is_popup %}
  {% include 'admin/admin_nav.html' %}

  <div class="pageHeader">
    <div class="djcontainer">
      <div class="pageHeader__flex">
        <div class="pageHeader__left">
          <div class="pageHeader__title">{% if title %}{{title}}{% endif %}</div>
        </div>
        <div class="pageHeader__right">
          {% block breadcrumbs %}
          <div class="breadcrumbs">
          <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
          {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
  {% endblock messages %}
  <!-- Content -->
  <div class="djcontainer">
    <div id="content" class="{% block coltype %}colM{% endblock %}">
      {% block pretitle %}{% endblock %}
      {% block content_title %}{% endblock %}
      {% block content %}
      {% block object-tools %}{% endblock %}
      {{ content }}
      {% endblock %}
      {% block sidebar %}{% endblock %}
      <br class="clear" />
    </div>
  </div>
  <!-- END Content -->
</div>
{% block footer %}{% endblock %}
<!-- END Container -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!-- Use in production -->
<!-- <script src="{% static 'js/bundle.min.js' %}"></script> -->
<!-- Use in development -->
<script src="{% static 'js/run-prettify.js' %}"></script>
<script src="{% static 'sceditor/minified/jquery.sceditor.bbcode.min.js' %}"></script>
<script src="{% static 'js/ui/spoiler.js' %}"></script>
<script src="{% static 'js/editor-config.js' %}"></script>
</body>
</html>
