{% load compress humanize static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ BOARD_SETTINGS.BOARD_NAME }} | {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block meta_description %}For the record, the music never stopped{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="{% static 'punkweb_boards/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'punkweb_boards/js/deps/sceditor-3.1.1/minified/themes/square.min.css' %}" />
    {% compress css %}
    <link href="{% static 'punkweb_boards/scss/punkweb.scss' %}" rel="stylesheet" type="text/x-scss" />
    {% endcompress %}
    {% block extrastyle %}
    {% endblock %}
  </head>
  <body>
    <div class="page-wrap">
      {% include 'punkweb_boards/themes/punkweb/includes/nav.html' %}
      {% block content %}{% endblock %}
    </div>
    {% include 'punkweb_boards/themes/punkweb/includes/footer.html' %}
  </body>
  <script src="{% static 'punkweb_boards/js/deps/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'punkweb_boards/js/deps/lodash-4.17.21.min.js' %}"></script>
  <script src="{% static 'punkweb_boards/js/deps/run-prettify.js' %}"></script>
  <script src="{% static 'punkweb_boards/js/deps/sceditor-3.1.1/minified/jquery.sceditor.bbcode.min.js' %}"></script>
  <script src="{% static 'punkweb_boards/js/editor-config.js' %}"></script>
  <script src="{% static 'punkweb_boards/js/ui/spoiler.js' %}"></script>
  <script src="{% static 'punkweb_boards/js/ui/collapse.js' %}"></script>

  {% block extrascript %}
  {% endblock %}
</html>
