{% extends 'punkweb_boards/themes/punkweb/base.html' %}

{% block title %}Create Thread{% endblock %}
{% block meta_description %}Create a thread in {{subcategory.name}}{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="container">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">Create Thread</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Board</a></li>
          <li><a href="{% url 'board:category-detail' subcategory.parent.id %}">{{subcategory.parent.name}}</a></li>
          <li><a href="{% url 'board:subcategory-detail' subcategory.id %}">{{subcategory.name}}</a></li>
          <li>Create Thread</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="pw-card pw-fluid">
      <div class="pw-card-header">
        <h4>Create New Thread</h4>
      </div>
      <div class="pw-card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="pw-button-raised pw-primary pw-icon-leading" type="submit"><i class="icon-leading fa fa-pencil-alt fa-fw"></i>Post Thread</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
