{% extends 'punkweb_boards/themes/punkweb/base.html' %}
{% load static %}

{% block title %}Delete Thread{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'punkweb_boards/js/navigate.js' %}"></script>
{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="container">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">Delete Thread</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Board</a></li>
          <li><a href="{% url 'board:category-detail' object.category.parent.id %}">{{object.category.parent.name}}</a></li>
          <li><a href="{% url 'board:subcategory-detail' object.category.id %}">{{object.category.name}}</a></li>
          <li><a href="{% url 'board:thread' object.id %}">Thread</a></li>
          <li>Delete</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="flexrow flex__justify-center">
      <div class="pw-card pw-fluid">
        <div class="pw-card-header">
          <h4>Delete {{object.title}} by {{object.user.username}}</h4>
        </div>
        <div class="pw-card-body">
          <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete this thread?</p>
            <div class="align-right">
              <button class="pageBack pw-button-raised pw-icon-leading" type="button"><i class="icon-leading fa fa-arrow-left fa-fw"></i>Back</button>
              <button class="pw-button-raised pw-warn pw-icon-leading" type="submit"><i class="icon-leading fa fa-trash fa-fw"></i>Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
