{% extends 'punkweb_boards/themes/punkweb/base.html' %}

{% block title %}Update Thread{% endblock %}

{% block content %}
<div class="pageHeader">
  <div class="container">
    <div class="pageHeader__flex">
      <div class="pageHeader__left">
        <div class="pageHeader__title">Update Thread</div>
      </div>
      <div class="pageHeader__right">
        <ul class="breadcrumb">
          <li><a href="{% url 'board:index' %}">Board</a></li>
          <li><a href="{% url 'board:category-detail' object.category.parent.id %}">{{object.category.parent.name}}</a></li>
          <li><a href="{% url 'board:subcategory-detail' object.category.id %}">{{object.category.name}}</a></li>
          <li><a href="{% url 'board:thread' object.id %}">Thread</a></li>
          <li>Update</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="pw-card pw-fluid">
      <div class="pw-card-header">
        <h4>Update {{object.title}} by {{object.user.username}}</h4>
      </div>
      <div class="pw-card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="pw-button-raised pw-primary pw-icon-leading" type="submit"><i class="icon-leading fa fa-edit fa-fw"></i>Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
