{% extends 'base/base_table.html' %}

{% block table_header %}
<thead>
  <tr>
    <th class="align-left" width="40%">
      Subcategory
    </th>
    <th class="align-center" width="10%">
      Threads
    </th>
    <th class="align-center" width="10%">
      Posts
    </th>
    <th class="align-right hidden-xs" width="30%">
      Last Thread
    </th>
  </tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
  {% for sub in subcategories %}
  <tr class="border-bottom">
    <td class="align-left">
      <p><a href="{% url 'board:subcategory' sub.obj.id %}">{{sub.obj.name}}</a></p>
      <p>{{sub.obj.description.rendered}}</p>
      {% if sub.can_post %}
      <p>
        <a href="{% url 'board:thread-create' sub.obj.id %}">
          <i class="fa fa-plus" aria-hidden="true"></i> Create Thread
        </a>
      </p>
      {% endif %}
    </td>
    <td class="align-center">
      <p>{{sub.num_threads}}</p>
    </td>
    <td class="align-center">
      <p>{{sub.num_posts}}</p>
    </td>
    <td class="align-right hidden-xs">
      {% if sub.obj.last_thread %}
      <p><a href="{% url 'board:thread' sub.obj.last_thread.id %}">{{sub.obj.last_thread.title|truncatechars_html:30}}</a></p>
      <p>{{sub.obj.last_thread.created|date:'D, M d, Y'}}</p>
      <p>by <a href="{% url 'users:profile' sub.obj.last_thread.user.username %}">{{sub.obj.last_thread.user.username}}</a></p>
      {% else %}
      <p>No Threads</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
{% block table_footer %}{% endblock %}
