{% extends 'base/base_table.html' %}

<div class="row">
  <div class="col-xs-1 col-md-2">
  </div>
  <div class="col-xs-11 col-md-10">
  </div>
</div>

{% block table_header %}
<thead>
  <tr>
    <th width="15%"></th>
    <th class="align-left" width="85%">Thread Title</th>
  </tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
  {% for thread in recent_activity %}
  <tr>
    <td>
      <a href="{% url 'users:profile' thread.user.username %}">
        <img src="{{thread.user.avatar}}" alt="{{thread.user.name}}" />
      </a>
    </td>
    <td>
      <a href="{% url 'board:thread' thread.id %}">{{thread.title}}</a>
      <p>{{thread.created}}</p>
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
{% block table_footer %}{% endblock %}
