{% extends 'base/base_table.html' %}

{% block table_header %}
<thead>
  <tr>
    <th width="15%"></th>
    <th class="align-left" width="85%">Thread Title</th>
  </tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
  {% for thread in recent_threads %}
  <tr>
    <td>
      <a href="{% url 'board:profile' thread.user.username %}">
        <img src="{{thread.user.avatar}}" alt="{{thread.user.name}}" />
      </a>
    </td>
    <td>
      <a href="{% url 'board:thread' thread.id %}">{{thread.title}}</a>
      <p>{{thread.created}}</p>
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
{% block table_footer %}{% endblock %}
