{% extends 'base/base_table.html' %}

{% block table_header %}
<thead>
  <tr>
    <th></th>
    <th class="align-left">
      Reporting User
    </th>
    <th class="align-left">
      Thread/Post
    </th>
    <th class="align-right">
      Resolved?
    </th>
  </tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
  {% for report in reports %}
  <tr>
    <td>
      <a href="{% url 'board:report' report.id %}">View</a>
    </td>
    <td class="align-left">
      {{report.reporting_user.username}}
    </td>
    <td class="align-left">
      {% if report.thread %}
      {{report.thread}}
      {% endif %}
      {% if report.post %}
      {{report.post}}
      {% endif %}
    </td>
    <td class="align-right">
      {{report.resolved}}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
{% block table_footer %}{% endblock %}
