{% extends 'base/base_table.html' %}

{% block table_header %}
<thead>
  <tr>
    <th class="align-left" width="40%">
      Title
    </th>
    <th class="align-left" width="20%">
      User
    </th>
    <th class="align-center" widht="10%">
      Posts
    </th>
    <th class="align-right hidden-xs" width="30%">
      Last Post
    </th>
  </tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
  {% for thread in threads %}
  <tr class="border-bottom">
    <td class="align-left">
      <p>
        {% if thread.pinned %}
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        {% endif %}
        <a href="{% url 'board:thread' thread.id %}">
          {{thread.title}}
        </a>
      </p>
    </td>
    <td class="align-left">
      <p><a href="{% url 'board:profile' thread.user.username %}">{{thread.user.username}}</a></p>
    </td>
    <td class="align-center">
      <p>{{thread.posts_count}}</p>
    </td>
    <td class="align-right hidden-xs">
      {% if thread.last_post %}
      <p><a href="{% url 'board:profile' thread.last_post.user.username %}">{{thread.last_post.user.username}}</a></p>
      <p>{{thread.last_post.created}}</p>
      {% else %}
      <p>No Posts</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
{% block table_footer %}{% endblock %}
