{% extends './base.html' %}
{% load static %}
{% load bbcode_tags %}
{% load thumbnail %}

{% block title %}Music | {{compilation.title}}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{compilation.title}}</h3>
      </div>
      <div class="panel-body">
        <h2>Now Playing</h2>
        <center>
          <img id="songImage" />
        </center>
        <div id="songTitle"></div>
        <div id="songArtist"></div>
        <div id="songAlbum"></div>
        <div id="songYear"></div>
        <div class="progress">
          <div id="progress" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="currentTime"></div>
        <hr>
        <h2>Control Buttons</h2>
        <button id="last">Last</button>
        <button id="next">Next</button>
        <button id="mute">Toggle Mute</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
$(document).ready(function() {
  var audio = document.createElement('audio');
  var trackNum = 0;
  var srcList = [];
  {% for track in tracks.all %}
  srcList.push({
    'title': '{{track.title}}',
    'artist': '{{track.album.artist.name}}',
    'album': '{{track.album.title}}',
    'year': '{{track.album.year}}',
    'image': '{{track.album.cover_art|thumbnail_url:"music_thumbnail"}}',
    'file': '/media/{{track.file}}'
  });
  {% endfor %}
  init();

  function init() {
    audio.setAttribute('src', srcList[trackNum].file);
    updateInfo();
  }

  function updateInfo() {
    $('#songTitle').text(srcList[trackNum].title);
    $('#songArtist').text(srcList[trackNum].artist);
    $('#songAlbum').text(srcList[trackNum].album);
    $('#songYear').text(srcList[trackNum].year);
    $('#songImage').attr('src', srcList[trackNum].image);
  }

  function loadTrack(index) {
    audio.setAttribute('src', srcList[index].file);
    audio.load();
    audio.play();
    updateInfo();
  }

  function timeFormat(time) {
    var hrs = Math.floor(time / 3600);
    var mins = Math.floor(time / 60);
    var secs = Math.floor(time - mins * 60);
    var str = '';

    if (hrs > 0) {
      str += '' + hrs + ":" + (mins < 10 ? '0' : '');
    }

    str += '' + mins + ':' + (secs < 10 ? '0' : '');
    str += '' + secs;
    return str;
  }

  audio.addEventListener('ended', function() {
    trackNum++;
    loadTrack(trackNum);
  }, false);
  audio.addEventListener('canplay', function() {
    audio.play();
  }, false);
  audio.addEventListener('timeupdate', function() {
    $('#currentTime').text(timeFormat(audio.currentTime) + ' / ' + timeFormat(audio.duration));
    $('#progress').attr('aria-valuenow', audio.currentTime);
    $('#progress').attr('aria-valuemax', audio.duration);
    $('#progress').width(((audio.currentTime/audio.duration)  * 100) + '%');
  }, false);
  $('#next').click(function() {
    if (trackNum >= srcList.length - 1) {
      return;
    }
    trackNum++;
    loadTrack(trackNum);
  });
  $('#last').click(function() {
    if (trackNum <= 0) {
      return;
    }
    trackNum--;
    loadTrack(trackNum);
  });
  $('#mute').click(function() {
    if (!audio.muted) {
      audio.muted = true;
      return;
    }
    audio.muted = false;
  });
});
</script>
{% endblock %}
