{% extends './base.html' %}
{% load static %}
{% load bbcode_tags %}
{% load thumbnail %}

{% block title %}Music{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Music Section</h3>
      </div>
      <div class="panel-body">
        <h1>Music</h1>
        <h3>Artists</h3>
        <table class="table">
          <thead>
            <tr>
              <th width="75px">
              </th>
              <th>
                Artist
              </th>
            </tr>
          </thead>
          <tbody>
            {% for artist in artists %}
            <tr>
              <td>
                <img src="{{artist.image|thumbnail_url:'avatar_smaller'}}" alt="" />
              </td>
              <td>
                {{artist.name}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>Albums</h3>
        <table class="table">
          <thead>
            <tr>
              <th width="75px">
              </th>
              <th>
                Album
              </th>
            </tr>
          </thead>
          <tbody>
            {% for album in albums %}
            <tr>
              <td>
                <img src="{{album.cover_art|thumbnail_url:'avatar_smaller'}}" alt="" />
              </td>
              <td>
                {{album.title}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>Compilations</h3>
        <table class="table">
          <thead>
            <tr>
              <th>
                Title
              </th>
              <th>
                Created
              </th>
              <th>
                Updated
              </th>
            </tr>
          </thead>
          <tbody>
            {% for compilation in compilations %}
            <tr>
              <td>
                <a href="{% url 'music:audio_compilation' compilation.slug %}">{{compilation.title}}</a>
              </td>
              <td>
                {{compilation.created|date:'m/d/Y'}}
              </td>
              <td>
                {{compilation.updated|date:'m/d/Y'}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>Tracks</h3>
        <table class="table">
          <thead>
            <tr>
              <th>
                Song
              </th>
              <th>
                Artist
              </th>
              <th>
                Album
              </th>
              <th>
                Year
              </th>
            </tr>
          </thead>
          <tbody>
            {% for track in audio %}
            <tr>
              <td>
                <a href="{% url 'music:audio' track.slug %}">{{track.title}}</a>
              </td>
              <td>
                {{track.album.artist.name}}
              </td>
              <td>
                {{track.album.title}}
              </td>
              <td>
                {{track.album.year|date:'Y'}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
</script>
{% endblock %}
