<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Activity</h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      {% for thread in recent_activity %}
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-4 col-lg-3">
          <a href="{% url 'users:profile' thread.user.username %}">
            <img src="{{thread.user.avatar_smaller}}" alt="{{thread.user.name}}" />
          </a>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-8 col-lg-9">
          <a href="{% url 'board:thread' thread.id %}">{{thread.title}}</a>
          <p>{{thread.created|date:'D, M d, Y'}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
