<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Threads</h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      {% for thread in recent_threads %}
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3">
          <a href="{% url 'users:profile' thread.user.username %}" class="thumbnail">
            <img src="/media/{{thread.user.image}}" alt="{{thread.user.name}}" />
          </a>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9">
          <a href="{% url 'board:thread' thread.id %}">{{thread.title}}</a>
          <p>{{thread.created|date:'D, M d, Y'}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
