{% extends './base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<h3>Login</h3>
<form method="post">
  {% csrf_token %}
  <p>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" autofocus="" id="id_username" maxlength="254" name="username" type="text" required />
      <label class="mdl-textfield__label" for="id_username">Email</label>
    </div>
  </p>
  <p>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" id="id_password" name="password" type="password" required />
      <label class="mdl-textfield__label" for="id_password">Password</label>
    </div>
  </p>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Login</button>
</form>
<!-- TODO Find an alternative for this.  Works for now. -->
{% if user.is_authenticated %}
<script>
  setTimeout(function() {
    window.location.href = '/board/';
  }, 0);
</script>
{% endif %}
{% endblock %}
