{% extends './base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'board:index' %}">Forum</a></li>
  <li><a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a></li>
  <li class="active">{{category.name}}</li>
</ol>
{% endblock %}

{% block content %}
<h2>{{category.name}}</h2>
{% if can_post %}
<a href="{% url 'board:thread-create' category.id %}">
  <i class="fa fa-plus" aria-hidden="true"></i> Create Thread
</a>
{% endif %}
{% include './subcategory_table.html' %}
<ul>
  {% if threads.has_previous %}
  <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
  <li><a href="?page={{threads.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
  {% else %}
  <li><a><i class="fa fa-angle-double-left"></i></a></li>
  <li><a><i class="fa fa-angle-left"></i></a></li>
  {% endif %}
  {% for page in threads.paginator.page_range %}
  {% if page == threads.number %}
  <li><a>{{page}}</a></li>
  {% else %}
  <li><a href="?page={{page}}">{{page}}</a></li>
  {% endif %}
  {% endfor %}
  {% if threads.has_next %}
  <li><a href="?page={{threads.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
  <li><a href="?page={{threads.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a></li>
  {% else %}
  <li><a><i class="fa fa-angle-right"></i></a></li>
  <li><a><i class="fa fa-angle-double-right"></i></a></li>
  {% endif %}
</ul>
{% endblock %}
