{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Forum | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'sceditor/minified/themes/default.min.css' %}" />
    <link href="{% sass_src 'scss/styles.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="page-wrap">
      <div class="container">
        {% include "partials/nav.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include "partials/footer.html" %}
  </body>
  <!-- JQuery 3.1.1 -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="{% static 'sceditor/minified/jquery.sceditor.bbcode.min.js' %}"></script>
  <script>
  $(function() {
    $('.post-editor').sceditor({
      emoticonsEnabled: false,
      plugins: 'bbcode',
      toolbar: 'bold,italic,underline,strike|bulletlist,orderedlist,horizontalrule|color,quote,link,image|date,time|source,maximize,removeformat',
      style: '{% static "sceditor/minified/jquery.sceditor.default.min.css" %}'
    });
    $('.shout-editor').sceditor({
      emoticonsEnabled: false,
      plugins: 'bbcode',
      toolbar: 'bold,italic,underline,strike|color,link,image|date,time|source,maximize,removeformat',
      style: '{% static "sceditor/minified/jquery.sceditor.default.min.css" %}'
    });
  });
  </script>
</html>
