{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'board:shoutbox' %}">Shoutbox</a></h3>
  </div>
</div>
{% if user.is_authenticated and user.is_admin %}
<a href="{% url 'board:category-create' %}">
  <i class="fa fa-plus" aria-hidden="true"></i> Create Category
</a>
<br/>
<br/>
{% endif %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
    {% for category in categories %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a>
        </h3>
        {% if user.is_authenticated and user.is_admin %}
        <a href="{% url 'board:subcategory-create' category.parent.id %}">
          <i class="fa fa-plus" aria-hidden="true"></i> Create Subcategory
        </a>
        {% endif %}
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="align-left" width="40%">
              Subcategory
            </th>
            <th class="align-center" width="10%">
              Threads
            </th>
            <th class="align-center" width="10%">
              Replies
            </th>
            <th class="align-right hidden-xs" width="30%">
              Last Thread
            </th>
          </tr>
        </thead>
        <tbody>
          {% for child in category.children %}
          <tr>
            <td class="align-left">
              <a href="{% url 'board:subcategory' child.category.id %}">{{child.category.name}}</a>
              {% if user.is_authenticated %}
              <a href="{% url 'board:thread-create' child.category.id %}">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              {% endif %}
              <p>{{child.category.description.rendered}}</p>
            </td>
            <td class="align-center">
              {{child.num_threads}}
            </td>
            <td class="align-center">
              {{child.num_comments}}
            </td>
            <td class="align-right hidden-xs">
              {% if child.category.last_thread %}
              <a href="{% url 'board:thread' child.category.last_thread.id %}">{{child.category.last_thread.title|truncatechars_html:30}}</a>
              <p>{{child.category.last_thread.created|date:'D, M d, Y'}}</p>
              <p>by <a href="{% url 'users:profile' child.category.last_thread.user.username %}">{{child.category.last_thread.user.username}}</a></p>
              {% else %}
              <p>No Threads</p>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    {% include 'partials/home/side_section.html' %}
  </div>
</div>
{% endblock %}
