/* images can't be wider than their containers */
img, iframe {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.djcontainer {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

/* tables inherit font size (some browsers set a default table font size) */
table {
  font-size: inherit;

  tr td {
    white-space: normal;
    word-wrap: break-word;
  }
}

pre {
  background-color: $oc-yellow-0;
  font-family: monospace;
  white-space: pre-wrap;
}

@font-face {
	font-family: 'Ripple';
	src: url('../fonts/Ripple.ttf');
	font-weight: normal;
  letter-spacing: 7.5px;
	font-style: normal;
}

@font-face {
	font-family: 'Storybook';
	src: url('../fonts/Storyboo.TTF');
	font-weight: normal;
  letter-spacing: 1.5px;
	font-style: normal;
}

@font-face {
	font-family: 'Griffin';
	src: url('../fonts/GRIFRG__.TTF');
	font-weight: bold;
	font-style: normal;
  letter-spacing: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Storybook';
  line-height: 1;
  margin: 0;
  padding: 0;
}
