/* images can't be wider than their containers */
img, iframe {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* tables inherit font size (some browsers set a default table font size) */
table {
  font-size: inherit;

  tr td {
    white-space: normal;
    word-wrap: break-word;
  }
}

hr {
  border: 0;
  height: 1px;
  background: $oc-gray-7;
}

pre {
  background-color: $oc-yellow-0;
  font-family: monospace;
  white-space: pre-wrap;
}

@font-face {
	font-family: 'Storybook';
	src: url('../fonts/Storybook.TTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Truckin';
	src: url('../fonts/Truckin.ttf');
	font-weight: normal;
	font-style: normal;
}
