.footer-bottom {
	background: #2C2C2C;
	border-top: 2px solid #DDDDDD;
	color: $oc-gray-4;
	font-size: 12px;
  padding: 0.4rem 0;

	.fa .fa-github {
		font-size: 20px;
	}

	a {
		color: $oc-blue-6;
	}
}
