.footer {
	background-color: $oc-gray-1;
	border-bottom: 1px solid $oc-gray-5;
	border-top: 1px solid $oc-gray-4;
  padding-bottom: 2rem;
  position: relative;
  h3 {
  	border-bottom: 1px solid $oc-gray-4;
  	font-size: 18px;
  	font-weight: 800;
  	padding: 2rem 0 1rem;
  	text-transform: uppercase;
  }
  ul {
  	list-style-type: none;
  	margin-top: 15px;
  }
  ul li a {
  	padding-bottom: .5rem;
  	display: block;
  }
}

.footer-bottom {
	background: #2C2C2C;
	border-top: 2px solid #DDDDDD;
	color: $oc-gray-4;
	font-size: 12px;
  padding: 0.4rem 0;

	.fa .fa-github {
		font-size: 20px;
	}

	a {
		color: $oc-blue-6;
	}
}
