div.breadcrumbs {
  background: $page-header;
  border-bottom: 2px solid $hr;
  padding: 2rem;
}

.module caption {
  @include medium;
  @include font-range(12, 14);
  background: $panel-header;
  padding: 1rem 0.75rem;
}

.module {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .12);
}

#content-related {
  background: transparent;
}

#content-related .module {
  background: white;
}

h1 {
  margin: 0 0 20px;
}

.submit-row a.deletelink {
  height: auto;
}

.inline-group .tabular td.original p {
  height: auto;
}

.module h2, .module caption, .inline-group h2 {
  background: $panel-header;
  padding: 1rem 0.75rem;
}

#changelist .actions .button {
  color: #333 !important;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: $main-nav-text;
}
a:link, a:visited {
  color: $primary-link;
}
