html, body {
  background: $body-background;
  // background-image: linear-gradient(to right, mix(black, $oc-blue-9, 20%) 0%, mix(black, $oc-red-9, 20%) 100%), url('../img/dead_glass.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-blend-mode:hue;
}

hr {
  border: 0;
  height: 2px;
  background: $hr;
}

a:link, a:visited {
  @include bold;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;

  &:hover, :active {
    text-decoration: underline;
  }
}

.errorlist {
  li {
    color: $oc-red-8;
  }
}

.spoiler {
  &__content {
    background-color: $body-background;
    visibility: hidden;
    height: 0;
  }
  &__open {
    cursor: pointer;
  }
}

.button {
  @include medium;
  background-color: $oc-gray-7;
  appearance: none;
  border: 1px solid mix(black, $oc-gray-7, 20%);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  color: white !important;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  outline: none;
  padding: .5rem .75rem;
  min-width: 100px;
  text-align: center;
  text-decoration: none !important;
  transition: all .25s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2), 0 0 6px mix(white, $oc-gray-7, 10%);
    background: mix(black, $oc-gray-7, 10%);
  }
  &:disabled {
    background-color: $oc-gray-5;
    border: 1px solid $oc-gray-6;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    }
  }
  a {
    color: white !important;

    &:hover {
      text-decoration: none;
    }
  }
}

.nav {
  width: 100%;

  &--upper {
    @include bold;
    @include font-range(10, 12);
    background-color: $upper-nav;
    padding: 0.4rem 1rem;

    &__link {
      color: $upper-nav-link;
      cursor: pointer;
      padding: .25rem 0;
      padding-left: 0.5rem;
    }
  }

  &--main {
    background-color: $main-nav;
    box-shadow: 0 2px 4px rgba(33, 37, 41, 0.5);
    color: $main-nav-text;
    padding: 0 1rem;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    @include noselect;
    @include bold;
    @include font-range(20, 24);
    color: $main-nav-title;
    padding: 1.5rem 0;
    margin: 0 0.5rem;
    letter-spacing: 1.2px;
    line-height: 1.2em;
    text-transform: uppercase;

    a {
      color: $main-nav-title;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__link {
    @include bold;
    @include font-range(14, 16);
    color: $main-nav-link;
    cursor: pointer;
    padding: 0 1rem;
  }
}

.pageHeader {
  background-color: $page-header;
  border-bottom: 2px solid $hr;
  display: flex;
  flex-direction: row;

  &__title {
    @include bold;
    @include font-range(16, 20);
    color: $page-header-text;
    padding: 2rem 0;
  }

  &__flex {
    display: flex;
    flex-direction: row;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.breadcrumb {
  @include font-range(11, 13);
  list-style: none;

  li {
    color: $breadcrumb-active;
    display: inline;

    a {
      color: $breadcrumb-link;
    }
  }

  li+li:before {
    color: $breadcrumb-separator;
    content: "/\00a0";
    margin: 0 0.5rem;
  }
}

.page-wrap {
  min-height: 100vh;
}

.main {
  margin: 1rem 0;
}

.djcontainer {
  box-sizing: border-box;
  padding: 0 0.5rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.post-editor, .shout-editor {
  min-width: 240px;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}

.pagination {
  @include font-range(14, 16);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;

  li {
    padding: 0.5rem;
    cursor: pointer;
  }
}

.badge {
  @include bold;
  background-color: $badge-background;
  display: inline-block;
  padding: .25rem .4rem;
  font-size: 75%;
  line-height: 1;
  color: $badge-text;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}


.panel {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .12);
  color: $panel-text;
  margin-bottom: 1rem;
  opacity: $panel-opacity;

  &__header {
    @include medium;
    @include font-range(12, 14);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $panel-header;
    padding: 1rem 0.75rem;
  }
  &__title {
    @include bold;
    @include font-range(12, 14);
    color: $panel-title;
    a {
      color: $panel-title;
    }
  }
  &__body {
    @include font-range(12, 14);
    background-color: $panel-body;
    color: $panel-text;
    a {
      color: $primary-link;
    }
  }
  &__footer {
    @include font-range(12, 14);
    background-color: $panel-footer;
    color: white;
    padding: 0.75rem;
  }
}

.table {
  border-collapse: collapse;

  thead {
    background-color: $table-header;
    color: $table-header-text;
    tr {
      th {
        @include medium;
        @include font-range(12, 14);
        padding: 1rem;
        a {
          color: $table-header-link;
        }
      }
      td {
        @include font-range(12, 14);
      }
    }
  }
  tbody {
    background-color: $table-body;
    color: $table-body-text;
    tr {
      th {
        @include font-range(12, 14);
      }
      td {
        @include font-range(12, 14);
        padding: 1rem;
        vertical-align: top;
        a {
          color: $table-body-link;
        }
      }
      &:not(:last-of-type) {
        border-bottom: 2px solid $hr;
      }
    }
    .vertically-centered {
      vertical-align: middle;
    }
  }
}

.footer {
  @include font-range(10, 12);
  background-color: $footer;
  color: $footer-text;
  padding: 0.4rem 0;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    color: $footer-link;
  }
}

.dropdown {
  @include noselect;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.dropdown__content {
  background-color: $dropdown;
  box-shadow: $dropdown-shadow;
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 1rem;
  z-index: 1;
}

.notification {
  background-color: $oc-white;
  color: $default-text-on-light;
  padding: 1rem;
  min-width: 250px;
  opacity: .9;
  a {
    color: $primary-link;
  }
  &--unread {
    opacity: 1;
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid $hr;
  }
}

input, select, textarea {
  background-color: transparent;
  color: inherit;
  border: 1px solid $hr;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  outline: none;
  padding: 0.25em 0.5rem;
  transition: 0.25s ease-in-out;
  @include placeholder {
    color: $input-placeholder;
  }
  &:focus {
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1), 0px 0px 6px $primary;
    border-color: $primary;
    outline: none;
  }
}

input[type=button], input[type=submit] {
  display: inline-block;
}

.recentActivity, .recentThreads {
  margin-left: 1rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.search {
  position: relative;
  input {
    border: 1px solid rgba(255, 255, 255, .12);
    color: $default-text-on-dark;
    @include placeholder {
      color: $default-text-on-dark;
    }
  }
}

.search .fa-search {
  position: absolute;
  pointer-events: none;
  top: 5px;
  right: 8px;
}

.profile {
  &__tables {
    max-height: 600px;
    overflow: auto;
  }
}


.thread {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow-wrap: break-word;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    border-right: 2px solid $oc-gray-4;
    padding: 1rem 0;

    &__name {
      margin: .25rem 0;
    }

    &__posts {
      margin: .25rem 0;
    }
  }
  &__body {
    flex: 10;
    max-width: 84%;
    overflow-wrap: break-word;
  }
  &__content {
    padding: 1rem;
    overflow-wrap: break-word;
  }
  &__signature {
    border-top: 2px solid $oc-gray-4;
    padding: 1rem;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    a+a {
      margin-left: 0.5rem;
    }
  }
}

.category {
  &__description {
    margin-bottom: 0.5rem;
  }
}

.shoutList {
  min-height: 225px;
  max-height: 225px;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: .5rem .5rem 0 .5rem;
  .shout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    margin: 0;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: pre;
  }
  .shout:not(:last-of-type) {
    border-bottom: 1px solid $hr;
  }
}

.shoutForm {
  padding: 0 .5rem .5rem .5rem;
}
