body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

html, body {
  background-color: $body-background;
  // background-image: linear-gradient(to right, mix(black, $oc-blue-9, 20%) 0%, mix(black, $oc-red-9, 20%) 100%), url('../img/dead_glass.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-blend-mode:hue;
  font-size: 14px;
  color: $default-text;
  font-family: 'sans-serif';
}

hr {
  border: 0;
  height: 2px;
  background: mix(black, $primary, 45%);
}

a:link, a:visited {
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;

  &:hover, :active {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

.nav {
  width: 100%;

  &--upper {
    background-color: $upper-nav;
    font-size: 16px;
    padding: 0.4rem 0;

    &__link {
      color: $upper-nav-link;
      padding: .25rem 0;
      font-size: 11px;

      &+& {
        padding-left: 0.5rem;
      }
    }

  }

  &--main {
    background-color: $main-nav;
    color: $main-nav-text;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    color: $main-nav-title;
    font-size: 24px;
    padding: 2rem 1.5rem 2rem 0;
    letter-spacing: 3px;
    font-family: 'Storybook';

    a {
      color: $main-nav-title;
    }
  }

  &__link {
    font-size: 14px;
    color: $main-nav-link;
    font-weight: 400;
    padding: 0 1rem;
  }
}

.pageHeader {
  background-color: $page-header;
  display: flex;
  flex-direction: row;

  &__title {
    color: $page-header-text;
    font-size: 24px;
    font-weight: 400;
    padding: 2rem 0;
  }

  &__flex {
    display: flex;
    flex-direction: row;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.breadcrumb {
  font-size: 12px;
  list-style: none;

  li {
    color: $breadcrumb-active;
    display: inline;

    a {
      color: $breadcrumb-link;
    }
  }

  li+li:before {
    color: $breadcrumb-separator;
    content: "/\00a0";
    margin: 0 .5rem;
  }
}

.page-wrap {
  min-height: 100vh;
}

.main {
  margin: 2rem 0;
}

.djcontainer {
  box-sizing: border-box;
  padding: 0 1rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.post-editor {
  min-width: 240px;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;

  li {
    padding: 1rem;
    cursor: pointer;
  }
}

.badge {
  background-color: $badge-background;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: $badge-text;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}


.panel {
  margin-bottom: 1rem;
  opacity: $panel-opacity;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $panel-header;
    font-size: 14px;
    font-weight: 500;
    padding: 1rem 1rem;
  }
  &__title {
    color: $oc-white;
    font-size: 14px;
    font-weight: 500;
  }
  &__body {
    background-color: $panel-body;
    a {
      color: $primary-link;
    }
  }
  &__footer {
    background-color: $panel-footer;
    padding: 1rem .5rem;
  }
}

.table {
  border-collapse: collapse;

  thead {
    background-color: $table-header;
    color: $table-header-text;
    tr {
      th {
        font-size: 14px;
        font-weight: 500;
        padding: 1rem 1rem;
        a {
          color: $table-header-link;
        }
      }
      td {
      }
    }
  }
  tbody {
    background-color: $table-body;
    color: $table-body-text;
    tr {
      th {

      }
      td {
        padding: .5rem 1rem;
        vertical-align: top;
        a {
          color: $table-body-link;
        }
      }
    }
  }
}

.footer {
	background-color: $footer;
	color: $footer-text;
	font-size: 12px;
  padding: 0.4rem 0;

	.fa .fa-github {
		font-size: 20px;
	}

	a {
		color: $footer-link;
	}
}

.recentActivity, .recentThreads {
  margin-left: 1rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.search {
  background-color: transparent !important;
  position: relative;

  input {
    background-color: transparent !important;
    padding-right: 2rem;
  }
}

.search .fa-search {
  position: absolute;
  padding: 8px 16px;
  pointer-events: none;
  right: 0px;
}

// .sceditor-container, div.sceditor-toolbar {
//   background-color: transparent;
//   border-color: desaturate($primary, 25%);
// }
//
// .sceditor-container iframe, .sceditor-container textarea {
//   background: transparent;
//   color: white;
//   border-color: desaturate($primary, 25%);
// }
//
// div.sceditor-group {
//   background: desaturate($primary, 25%);
//   color: white;
//   border: none;
// }

input[type="text"], input[type="password"], textarea {
  background-color: transparent;
  color: $default-text;
  border: 1px solid desaturate($primary, 25%);
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: 2px;
  padding: .5rem 2rem .5rem .5rem;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $input-placeholder;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $input-placeholder;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $input-placeholder;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $input-placeholder;
  }
  &:focus {
    outline: none;
  }
}
