html, body {
  background-color: $body-background;
  // background-image: linear-gradient(to right, mix(black, $oc-blue-9, 20%) 0%, mix(black, $oc-red-9, 20%) 100%), url('../img/dead_glass.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-blend-mode:hue;
}

hr {
  border: 0;
  height: 2px;
  background: $hr;
}

a:link, a:visited {
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;

  &:hover, :active {
    text-decoration: underline;
  }
}

.spoiler {
  &__content {
    background-color: $body-background;
    visibility: hidden;
    height: 0;
  }
  &__open {
    cursor: pointer;
  }
}


.nav {
  width: 100%;

  &--upper {
    @include font-range(9, 11);
    background-color: $upper-nav;
    padding: 0.4rem 0;

    &__link {
      color: $upper-nav-link;
      cursor: pointer;
      padding: .25rem 0;
      padding-left: 0.5rem;
    }
  }

  &--main {
    background-color: $main-nav;
    color: $main-nav-text;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    @include noselect;
    @include medium;
    @include font-range(20, 24);
    color: $main-nav-title;
    padding: 1.5rem 0;
    margin: 0 0.5rem;
    letter-spacing: 3px;
    font-family: 'Storybook';

    a {
      color: $main-nav-title;
    }
  }

  &__link {
    @include bold;
    @include font-range(12, 14);
    color: $main-nav-link;
    cursor: pointer;
    padding: 0 1rem;
  }
}

.pageHeader {
  background-color: $page-header;
  display: flex;
  flex-direction: row;

  &__title {
    @include bold;
    @include font-range(16, 20);
    color: $page-header-text;
    margin: 1rem 0;
  }

  &__flex {
    display: flex;
    flex-direction: row;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.breadcrumb {
  @include font-range(10, 12);
  list-style: none;

  li {
    color: $breadcrumb-active;
    display: inline;

    a {
      color: $breadcrumb-link;
    }
  }

  li+li:before {
    color: $breadcrumb-separator;
    content: "/\00a0";
    margin: 0 0.5rem;
  }
}

.page-wrap {
  min-height: 100vh;
}

.main {
  margin: 0.5rem 0;
}

.djcontainer {
  box-sizing: border-box;
  padding: 0 0.5rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.post-editor, .shout-editor {
  min-width: 240px;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}

.pagination {
  @include font-range(12, 14);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;

  li {
    padding: 0.5rem;
    cursor: pointer;
  }
}

.badge {
  @include bold;
  background-color: $badge-background;
  display: inline-block;
  padding: .25rem .4rem;
  font-size: 75%;
  line-height: 1;
  color: $badge-text;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}


.panel {
  margin-bottom: 0.5rem;
  opacity: $panel-opacity;

  &__header {
    @include medium;
    @include font-range(12, 14);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $panel-header;
    padding: 0.5rem 0.5rem;
  }
  &__title {
    @include medium;
    @include font-range(12, 14);
    color: $panel-title;
  }
  &__body {
    @include font-range(12, 14);
    background-color: $panel-body;
    a {
      color: $primary-link;
    }
  }
  &__footer {
    @include font-range(12, 14);
    background-color: $panel-footer;
    padding: 0.5rem .5rem;
  }
}

.table {
  border-collapse: collapse;

  thead {
    background-color: $table-header;
    color: $table-header-text;
    tr {
      th {
        @include medium;
        @include font-range(12, 14);
        padding: 0.5rem;
        a {
          color: $table-header-link;
        }
      }
      td {
        @include font-range(12, 14);
      }
    }
  }
  tbody {
    background-color: $table-body;
    color: $table-body-text;
    tr {
      th {
        @include font-range(12, 14);
      }
      td {
        @include font-range(12, 14);
        padding: .5rem .5rem;
        vertical-align: top;
        a {
          color: $table-body-link;
        }
      }
    }
    .vertically-centered {
      vertical-align: middle;
    }
  }
}

.footer {
  @include font-range(10, 12);
	background-color: $footer;
	color: $footer-text;
  padding: 0.4rem 0;

	a {
		color: $footer-link;
	}
}

.dropdown {
  @include noselect;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.dropdown__content {
  background-color: $dropdown;
  box-shadow: $dropdown-shadow;
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 0.5rem;
  z-index: 1;
}

.notification {
  background-color: mix(black, $primary, 65%);
  padding: 0.5rem;
  opacity: .75;
  a {
    color: $primary-link;
  }
  &--unread {
    opacity: 1;
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid desaturate($primary, 15%);
  }
}

input[type="text"], input[type="password"], textarea {
  background-color: transparent;
  color: $default-text;
  border: 1px solid desaturate($primary, 25%);
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: 2px;
  padding: .5rem;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $input-placeholder;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $input-placeholder;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $input-placeholder;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $input-placeholder;
  }
  &:focus {
    outline: none;
  }
}

.recentActivity, .recentThreads {
  margin-left: 0.5rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.search {
  background-color: transparent !important;
  position: relative;

  input {
    background-color: transparent !important;
    padding-right: 2.5rem;
  }
}

.search .fa-search {
  position: absolute;
  padding: 8px 16px;
  pointer-events: none;
  right: 0px;
}

.profile {
  &__tables {
    max-height: 600px;
    overflow: auto;
  }
}


.thread {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  overflow-wrap: break-word;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    border-right: 2px solid mix(black, $primary, 45%);

    &__name {
      margin: .25rem 0;
    }

    &__posts {
      margin: .25rem 0;
    }
  }
  &__body {
    flex: 10;
    max-width: 84%;
    overflow-wrap: break-word;
  }
  &__content {
    padding: 0 0.5rem 0.5rem 0.5rem;
    overflow-wrap: break-word;
  }
  &__signature {
    border-top: 2px solid mix(black, $primary, 45%);
    padding: 0.5rem;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    a+a {
      margin-left: 0.5rem;
    }
  }
}

.category {
  &__description {
    margin-bottom: 0.5rem;
  }
}

.shoutList {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
  overflow-wrap: break-word;
  .shout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    max-width: 100%;
    overflow-wrap: break-word;
  }
  .shout:not(:last-of-type) {
    border-bottom: 1px solid $hr;
  }
}
