$primary: $oc-gray-9;
$primary-link: $oc-red-9;
$default-text-on-light: lighten(black, 25%);
$default-text-on-dark: darken(white, 10%);
$default-text: $default-text-on-light;

$body-background: $oc-gray-3;
$upper-nav: #2C2C2C;
$upper-nav-link: $default-text-on-dark;
$main-nav: #EBEBEB;
$main-nav-title: $primary;
$main-nav-link: $default-text;
$main-nav-text: $default-text;
$page-header: #D7D7D7;
$page-header-text: $default-text;

$breadcrumb-active: $default-text;
$breadcrumb-separator: $default-text;
$breadcrumb-link: $primary-link;

$hr: mix(black, $primary, 45%);

$badge-background: $oc-red-9;
$badge-text: $oc-white;

$dropdown: mix(black, $primary, 65%);
$dropdown-shadow: 0px .5rem 1rem 0px rgba(0, 0, 0, 0.2);

$panel-header: $primary;
$panel-title: $oc-white;
$panel-body: $oc-gray-0;
$panel-footer: $oc-gray-2;
$panel-opacity: 1;

$table-header: $panel-header;
$table-header-text: $oc-gray-0;
$table-header-link: $oc-gray-0;
$table-body: $panel-body;
$table-body-text: $default-text;
$table-body-link: $primary-link;

$footer: $upper-nav;
$footer-text: $default-text;
$footer-link: $primary-link;

$input-placeholder: darken($default-text, 15%);

$editor-container: $body-background;
$editor-text: $default-text-on-dark;
$editor-border: desaturate($primary, 25%);
$editor-toolbar: lighten($body-background, 15%);
$editor-toolbar-group: $oc-gray-2;
$editor-toolbar-group-hover: lighten($body-background, 70%);
$editor-button: $body-background;
$editor-button-hover: lighten($body-background, 5%);
$editor-button-text: $default-text-on-dark;
$editor-button-border: desaturate($primary, 25%);
