@media only screen and (max-width: 840px) {
  .djcontainer {
    padding: 0 0.4rem;
  }
  .flexrow {
    flex-direction: column;
  }
  .flexcol {
    flex-direction: column;
  }
  .recentActivity, .recentThreads {
    margin-left: 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .search {
    margin: 1rem 0;
  }

  .pageHeader {
    &__title {
      padding: .5rem 0;
    }

    &__flex {
      display: flex;
      flex-direction: column;
    }

    &__left {
      align-items: center;
      justify-content: center;
    }

    &__right {
      align-items: center;
      justify-content: center;
    }
  }

  .breadcrumb {
    margin: .5rem 0;

    li+li:before {
      margin: 0 .25rem;
    }
  }

  .nav {
    &--upper {
      text-align: center;
    }

    &__flex {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__title {
      padding: 1rem 0 .5rem 0;
    }

    &__left {
      flex-direction: column;
      justify-content: center;
    }
    &__right {
      justify-content: center;
    }

    &__link {
      padding: .5rem 0;
    }
  }

  .panel {
    &__title {
      font-size: 12px;
    }
    &__body {
      font-size: 11px;
    }
  }

  .table {
    thead {
      tr {
        th {
          font-size: 12px;
        }
        td {
          font-size: 12px;
        }
      }
    }
    tbody {
      tr {
        th {
          font-size: 11px;
        }
        td {
          font-size: 11px;
        }
      }
    }
  }

  .footer-bottom {
  	font-size: 11px;
    text-align: center;
  }

}
