body {
  margin: 0;
  padding: 0;
  min-width: 320px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* images can't be wider than their containers */
img, iframe {
  max-width: 100%; }

/* tables inherit font size (some browsers set a default table font size) */
table {
  font-size: inherit; }
  table tr td {
    white-space: normal;
    word-wrap: break-word; }

pre {
  background-color: #fff9db;
  font-family: monospace;
  white-space: pre-wrap; }

/* Alignment classes
*******************************************************************************/
.align-center, .align-center--all, .align-center--all * {
  text-align: center !important; }

.align-left, .align-left--all, .align-left--all * {
  text-align: left !important; }

.align-right, .align-right--all, .align-right--all * {
  text-align: right !important; }

/* Border classes
*******************************************************************************/
.border, .border-all, .border-all * {
  border: 1px solid #adb5bd !important; }

.border-top, .border-top-all, .border-top-all * {
  border-top: 1px solid #adb5bd !important; }

.border-bottom, .border-bottom-all, .border-bottom-all * {
  border-bottom: 1px solid #adb5bd !important; }

.border-right, .border-right-all, .border-right-all * {
  border-right: 1px solid #adb5bd !important; }

.border-left, .border-left-all, .border-left-all * {
  border-left: 1px solid #adb5bd !important; }

/* Padding classes
*******************************************************************************/
.padding {
  padding: 0.5rem; }

.padding-left {
  padding-left: 0.5rem; }

.padding-right {
  padding-right: 0.5rem; }

.padding-top {
  padding-top: 0.5rem; }

.padding-bottom {
  padding-bottom: 0.5rem; }

/* Margin classes
*******************************************************************************/
.clearMargin {
  margin: 0; }

.margin {
  margin: 0.5rem; }

.margin-left {
  margin-left: 0.5rem; }

.margin-right {
  margin-right: 0.5rem; }

.margin-top {
  margin-top: 0.5rem; }

.margin-bottom {
  margin-bottom: 0.5rem; }

html, body {
  font-family: 'Open-Sans', 'Calibri', 'sans-serif';
  font-size: 14px;
  color: #212529;
  font-weight: 400; }

h1 {
  font-size: calc(1.71429rem + (32 - 24) * (100vw - 22.85714rem) / (1440 - 320)); }
  @media only screen and (max-width: 320) {
    h1 {
      font-size: 1.71429rem; } }
  @media only screen and (max-width: 1440) {
    h1 {
      font-size: 2.28571rem; } }

h2 {
  font-size: calc(1.42857rem + (24 - 20) * (100vw - 22.85714rem) / (1440 - 320)); }
  @media only screen and (max-width: 320) {
    h2 {
      font-size: 1.42857rem; } }
  @media only screen and (max-width: 1440) {
    h2 {
      font-size: 1.71429rem; } }

h3 {
  font-size: calc(1.14286rem + (20 - 16) * (100vw - 22.85714rem) / (1440 - 320)); }
  @media only screen and (max-width: 320) {
    h3 {
      font-size: 1.14286rem; } }
  @media only screen and (max-width: 1440) {
    h3 {
      font-size: 1.42857rem; } }

h4 {
  font-size: calc(1rem + (16 - 14) * (100vw - 22.85714rem) / (1440 - 320)); }
  @media only screen and (max-width: 320) {
    h4 {
      font-size: 1rem; } }
  @media only screen and (max-width: 1440) {
    h4 {
      font-size: 1.14286rem; } }

h5 {
  font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320)); }
  @media only screen and (max-width: 320) {
    h5 {
      font-size: 0.85714rem; } }
  @media only screen and (max-width: 1440) {
    h5 {
      font-size: 1rem; } }

h6 {
  font-size: calc(0.71429rem + (12 - 10) * (100vw - 22.85714rem) / (1440 - 320)); }
  @media only screen and (max-width: 320) {
    h6 {
      font-size: 0.71429rem; } }
  @media only screen and (max-width: 1440) {
    h6 {
      font-size: 0.85714rem; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Storybook';
  src: url("../fonts/Storybook.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Winterland';
  src: url("../fonts/WINTERLAND.ttf");
  font-weight: normal;
  font-style: normal; }

html, body {
  background-color: #e9ecef; }

hr {
  border: 0;
  height: 2px;
  background: #842222; }

a:link, a:visited {
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out; }
  a:link:hover, a:link :active, a:visited:hover, a:visited :active {
    text-decoration: underline; }

.errorlist li {
  color: #e03131; }

.spoiler__content {
  background-color: #e9ecef;
  visibility: hidden;
  height: 0; }

.spoiler__open {
  cursor: pointer; }

.nav {
  width: 100%; }
  .nav--upper {
    font-size: calc(0.64286rem + (11 - 9) * (100vw - 22.85714rem) / (1440 - 320));
    background-color: #240909;
    padding: 0.4rem 0; }
    @media only screen and (max-width: 320) {
      .nav--upper {
        font-size: 0.64286rem; } }
    @media only screen and (max-width: 1440) {
      .nav--upper {
        font-size: 0.78571rem; } }
    .nav--upper__link {
      color: #cccccc;
      cursor: pointer;
      padding: .25rem 0;
      padding-left: 0.5rem; }
  .nav--main {
    background-color: #842222;
    color: #e9ecef; }
  .nav__flex {
    display: flex;
    flex-direction: row;
    width: 100%; }
  .nav__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .nav__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
  .nav__title {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    font-weight: 500;
    font-size: calc(1.42857rem + (24 - 20) * (100vw - 22.85714rem) / (1440 - 320));
    color: #e9ecef;
    padding: 1.5rem 0;
    margin: 0 0.5rem;
    letter-spacing: 3px;
    font-family: 'Storybook'; }
    @media only screen and (max-width: 320) {
      .nav__title {
        font-size: 1.42857rem; } }
    @media only screen and (max-width: 1440) {
      .nav__title {
        font-size: 1.71429rem; } }
    .nav__title a {
      color: #e9ecef; }
  .nav__link {
    font-weight: 700;
    font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
    color: #e9ecef;
    cursor: pointer;
    padding: 0 1rem; }
    @media only screen and (max-width: 320) {
      .nav__link {
        font-size: 0.85714rem; } }
    @media only screen and (max-width: 1440) {
      .nav__link {
        font-size: 1rem; } }

.pageHeader {
  background-color: #6c1c1c;
  display: flex;
  flex-direction: row; }
  .pageHeader__title {
    font-weight: 700;
    font-size: calc(1.14286rem + (20 - 16) * (100vw - 22.85714rem) / (1440 - 320));
    color: #e9ecef;
    padding: 1.25rem 0; }
    @media only screen and (max-width: 320) {
      .pageHeader__title {
        font-size: 1.14286rem; } }
    @media only screen and (max-width: 1440) {
      .pageHeader__title {
        font-size: 1.42857rem; } }
  .pageHeader__flex {
    display: flex;
    flex-direction: row; }
  .pageHeader__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .pageHeader__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }

.breadcrumb {
  font-size: calc(0.71429rem + (12 - 10) * (100vw - 22.85714rem) / (1440 - 320));
  list-style: none; }
  @media only screen and (max-width: 320) {
    .breadcrumb {
      font-size: 0.71429rem; } }
  @media only screen and (max-width: 1440) {
    .breadcrumb {
      font-size: 0.85714rem; } }
  .breadcrumb li {
    color: #bdc6cf;
    display: inline; }
    .breadcrumb li a {
      color: #e9ecef; }
  .breadcrumb li + li:before {
    color: #212529;
    content: "/\00a0";
    margin: 0 0.5rem; }

.page-wrap {
  min-height: 100vh; }

.main {
  margin: 0.5rem 0; }

.djcontainer {
  box-sizing: border-box;
  padding: 0 0.5rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.post-editor, .shout-editor {
  min-width: 240px;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
  max-height: 600px; }

.pagination {
  font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none; }
  @media only screen and (max-width: 320) {
    .pagination {
      font-size: 0.85714rem; } }
  @media only screen and (max-width: 1440) {
    .pagination {
      font-size: 1rem; } }
  .pagination li {
    padding: 0.5rem;
    cursor: pointer; }

.badge {
  font-weight: 700;
  background-color: #c92a2a;
  display: inline-block;
  padding: .25rem .4rem;
  font-size: 75%;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem; }

.panel {
  margin-bottom: 1rem;
  opacity: 1; }
  .panel__header {
    font-weight: 500;
    font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #842222;
    padding: 1rem 0.75rem; }
    @media only screen and (max-width: 320) {
      .panel__header {
        font-size: 0.85714rem; } }
    @media only screen and (max-width: 1440) {
      .panel__header {
        font-size: 1rem; } }
  .panel__title {
    font-weight: 500;
    font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
    color: #ffffff; }
    @media only screen and (max-width: 320) {
      .panel__title {
        font-size: 0.85714rem; } }
    @media only screen and (max-width: 1440) {
      .panel__title {
        font-size: 1rem; } }
  .panel__body {
    font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
    background-color: white;
    color: #212529; }
    @media only screen and (max-width: 320) {
      .panel__body {
        font-size: 0.85714rem; } }
    @media only screen and (max-width: 1440) {
      .panel__body {
        font-size: 1rem; } }
    .panel__body a {
      color: #1c7cd6; }
  .panel__footer {
    font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
    background-color: #781f1f;
    color: #212529;
    padding: 0.5rem .5rem; }
    @media only screen and (max-width: 320) {
      .panel__footer {
        font-size: 0.85714rem; } }
    @media only screen and (max-width: 1440) {
      .panel__footer {
        font-size: 1rem; } }

.table {
  border-collapse: collapse; }
  .table thead {
    background-color: #842222;
    color: #e9ecef; }
    .table thead tr th {
      font-weight: 500;
      font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
      padding: 1rem 0.75rem; }
      @media only screen and (max-width: 320) {
        .table thead tr th {
          font-size: 0.85714rem; } }
      @media only screen and (max-width: 1440) {
        .table thead tr th {
          font-size: 1rem; } }
      .table thead tr th a {
        color: #e9ecef; }
    .table thead tr td {
      font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320)); }
      @media only screen and (max-width: 320) {
        .table thead tr td {
          font-size: 0.85714rem; } }
      @media only screen and (max-width: 1440) {
        .table thead tr td {
          font-size: 1rem; } }
  .table tbody {
    background-color: white;
    color: #212529; }
    .table tbody tr th {
      font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320)); }
      @media only screen and (max-width: 320) {
        .table tbody tr th {
          font-size: 0.85714rem; } }
      @media only screen and (max-width: 1440) {
        .table tbody tr th {
          font-size: 1rem; } }
    .table tbody tr td {
      font-size: calc(0.85714rem + (14 - 12) * (100vw - 22.85714rem) / (1440 - 320));
      padding: .5rem .5rem;
      vertical-align: top; }
      @media only screen and (max-width: 320) {
        .table tbody tr td {
          font-size: 0.85714rem; } }
      @media only screen and (max-width: 1440) {
        .table tbody tr td {
          font-size: 1rem; } }
      .table tbody tr td a {
        color: #1c7cd6; }
    .table tbody .vertically-centered {
      vertical-align: middle; }

.footer {
  font-size: calc(0.71429rem + (12 - 10) * (100vw - 22.85714rem) / (1440 - 320));
  background-color: #842222;
  color: #e9ecef;
  padding: 0.4rem 0; }
  @media only screen and (max-width: 320) {
    .footer {
      font-size: 0.71429rem; } }
  @media only screen and (max-width: 1440) {
    .footer {
      font-size: 0.85714rem; } }
  .footer a {
    color: #dee2e6; }

.dropdown {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: pointer;
  display: inline-block;
  position: relative; }

.dropdown__content {
  background-color: #541616;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  min-width: 160px;
  margin-top: 0.5rem;
  z-index: 1; }

.notification {
  background-color: #541616;
  padding: 0.5rem;
  opacity: .75; }
  .notification a {
    color: #1c7cd6; }
  .notification--unread {
    opacity: 1; }
  .notification:not(:last-of-type) {
    border-bottom: 1px solid #e04e4e; }

input[type="text"], input[type="password"], textarea {
  background-color: transparent;
  color: inherit;
  border: 1px solid #d65858;
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: 2px;
  padding: .5rem; }
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bdc6cf; }
  input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #bdc6cf; }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #bdc6cf; }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #bdc6cf; }
  input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none; }

.recentActivity, .recentThreads {
  margin-left: 1rem; }

.flexrow {
  display: flex;
  flex-direction: row; }

.flexcol {
  display: flex;
  flex-direction: column; }

.full-width {
  width: 100%; }

.search {
  background-color: transparent !important;
  position: relative; }

.search .fa-search {
  position: absolute;
  padding: 8px 16px;
  pointer-events: none;
  right: 0px; }

.profile__tables {
  max-height: 600px;
  overflow: auto; }

.thread {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  overflow-wrap: break-word; }
  .thread__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    border-right: 2px solid #ced4da; }
    .thread__user__name {
      margin: .25rem 0; }
    .thread__user__posts {
      margin: .25rem 0; }
  .thread__body {
    flex: 10;
    max-width: 84%;
    overflow-wrap: break-word; }
  .thread__content {
    padding: 0 1rem 0.5rem 1rem;
    overflow-wrap: break-word; }
  .thread__signature {
    border-top: 2px solid #ced4da;
    padding: 0.5rem; }
  .thread__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem; }
    .thread__actions a + a {
      margin-left: 0.5rem; }

.category__description {
  margin-bottom: 0.5rem; }

.shoutList {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
  overflow-wrap: break-word; }
  .shoutList .shout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    max-width: 100%;
    overflow-wrap: break-word; }
  .shoutList .shout:not(:last-of-type) {
    border-bottom: 1px solid #842222; }

@media only screen and (max-width: 767px) {
  .thread {
    flex-direction: column; }
    .thread__user {
      border-bottom: 2px solid #ced4da;
      border-right: none;
      padding-bottom: 0.5rem; }
    .thread__body {
      max-width: 100%; }
    .thread__content {
      padding: 0.5rem; } }

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none; } }

@media only screen and (max-width: 425px) {
  .hide-on-xsmall {
    display: none; } }

@media only screen and (max-width: 840px) {
  .djcontainer {
    padding: 0 0.5rem; }
  .flexrow {
    flex-direction: column; }
  .flexcol {
    flex-direction: column; }
  .recentActivity, .recentThreads {
    margin-left: 0; }
  .search {
    margin: 0.5rem 0; }
  .pageHeader__title {
    margin: 0.5rem 0; }
  .pageHeader__flex {
    display: flex;
    flex-direction: column; }
  .pageHeader__left {
    align-items: center;
    justify-content: center; }
  .pageHeader__right {
    align-items: center;
    justify-content: center; }
  .breadcrumb {
    margin: 0.5rem 0; }
    .breadcrumb li + li:before {
      margin: 0 .25rem; }
  .nav--upper {
    text-align: center; }
  .nav__flex {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .nav__title {
    padding: 1rem 0 .5rem 0;
    margin: 0; }
  .nav__left {
    flex-direction: column;
    justify-content: center; }
  .nav__right {
    justify-content: center; }
  .nav__link {
    padding: .5rem 0; } }

.sceditor-container {
  background: #e9ecef;
  border: 1px solid #d65858;
  color: #e9ecef; }

.sceditor-container iframe,
.sceditor-container textarea {
  background: #e9ecef;
  color: #e9ecef; }

div.sceditor-toolbar {
  background: white;
  border-bottom: 1px solid #d65858; }

div.sceditor-group {
  background: #e9ecef;
  border-bottom: 1px solid #d65858; }

.sceditor-button:hover,
.sceditor-button:active,
.sceditor-button.active {
  background: white; }

.sceditor-button:active {
  background: white; }

div.sceditor-dropdown {
  border: 1px solid #d65858;
  background: #e9ecef;
  color: #e9ecef; }

.sceditor-dropdown a:hover {
  background: #d65858; }

div.sceditor-dropdown a,
div.sceditor-dropdown a:link {
  color: #e9ecef; }

div.sceditor-dropdown label {
  color: #e9ecef; }

div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
  border: 1px solid #d65858;
  border-top-color: #d65858; }

div.sceditor-dropdown input:focus,
div.sceditor-dropdown textarea:focus {
  border-color: #efbebe;
  border-top-color: #efbebe; }

div.sceditor-dropdown .button {
  color: #e9ecef;
  background: #e9ecef;
  border: solid 1px #d65858; }

div.sceditor-dropdown .button:hover {
  background: #f8f9fa; }

.sceditor-color-option {
  border: 1px solid #e9ecef; }

.sceditor-color-option:hover {
  border: 1px solid white; }
