$primary: $oc-red-7;
$primary-link: $oc-blue-7;
$default-text-on-light: $oc-gray-9;
$default-text-on-dark: $oc-gray-2;
$default-text: $default-text-on-light;

$body-background: $oc-gray-2;
$upper-nav: mix(black, $primary, 85%);
$upper-nav-link: darken(white, 20%);
$main-nav: mix(black, $primary, 45%);
$main-nav-title: $default-text-on-dark;
$main-nav-text: $default-text-on-dark;
$main-nav-link: $default-text-on-dark;
$page-header: mix(black, $primary, 55%);
$page-header-text: $default-text-on-dark;

$breadcrumb-active: darken($default-text-on-dark, 15%);
$breadcrumb-separator: darken($default-text-on-dark, 20%);
$breadcrumb-link: $default-text-on-dark;

$hr: mix(black, $primary, 45%);

$badge-background: $oc-red-9;
$badge-text: $oc-white;

$dropdown: mix(black, $primary, 65%);
$dropdown-shadow: 0px .5rem 1rem 0px rgba(0, 0, 0, 0.2);

$panel-header: mix(black, $primary, 45%);
$panel-title: $oc-white;
$panel-body: white;
$panel-text: $default-text-on-light;
$panel-footer: mix(black, $primary, 50%);
$panel-opacity: 1;

$table-header: $panel-header;
$table-header-text: $default-text-on-dark;
$table-header-link: $default-text-on-dark;
$table-body: $panel-body;
$table-body-text: $default-text;
$table-body-link: $primary-link;

$footer: $panel-header;
$footer-text: $default-text-on-dark;
$footer-link: $oc-gray-3;

$input-placeholder: darken($default-text-on-dark, 15%);

$editor-container: $oc-gray-1;
$editor-text: $default-text-on-light;
$editor-border: desaturate($primary, 25%);
$editor-toolbar: $oc-white;
$editor-toolbar-group: $oc-white;
$editor-toolbar-group-hover: lighten($body-background, 70%);
$editor-button: $oc-white;
$editor-button-hover: lighten($body-background, 5%);
$editor-button-text: $default-text-on-dark;
$editor-button-border: desaturate($primary, 25%);
