/* Alignment classes
*******************************************************************************/
.align-center, .align-center--all, .align-center--all * {
  text-align: center !important; }

.align-left, .align-left--all, .align-left--all * {
  text-align: left !important; }

.align-right, .align-right--all, .align-right--all * {
  text-align: right !important; }

/* Border classes
*******************************************************************************/
.border, .border-all, .border-all * {
  border: 1px solid #adb5bd !important; }

.border-top, .border-top-all, .border-top-all * {
  border-top: 1px solid #adb5bd !important; }

.border-bottom, .border-bottom-all, .border-bottom-all * {
  border-bottom: 1px solid #adb5bd !important; }

.border-right, .border-right-all, .border-right-all * {
  border-right: 1px solid #adb5bd !important; }

.border-left, .border-left-all, .border-left-all * {
  border-left: 1px solid #adb5bd !important; }

/* Padding classes
*******************************************************************************/
.padding {
  padding: 1rem; }

.padding-left {
  padding-left: 1rem; }

.padding-right {
  padding-right: 1rem; }

.padding-top {
  padding-top: 1rem; }

.padding-bottom {
  padding-bottom: 1rem; }

/* Margin classes
*******************************************************************************/
.clearMargin {
  margin: 0; }

.margin {
  margin: 1rem; }

.margin-left {
  margin-left: 1rem; }

.margin-right {
  margin-right: 1rem; }

.margin-top {
  margin-top: 1rem; }

.margin-bottom {
  margin-bottom: 1rem; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* images can't be wider than their containers */
img, iframe {
  max-width: 100%; }

/* tables inherit font size (some browsers set a default table font size) */
table {
  font-size: inherit; }
  table tr td {
    white-space: normal;
    word-wrap: break-word; }

pre {
  background-color: #fff9db;
  font-family: monospace;
  white-space: pre-wrap; }

.footer {
  background-color: #f1f3f5;
  border-bottom: 1px solid #adb5bd;
  border-top: 1px solid #ced4da;
  padding-bottom: 2rem;
  position: relative; }
  .footer h3 {
    border-bottom: 1px solid #ced4da;
    font-size: 18px;
    font-weight: 800;
    padding: 2rem 0 1rem;
    text-transform: uppercase; }
  .footer ul {
    list-style-type: none;
    margin-top: 15px; }
  .footer ul li a {
    padding-bottom: .5rem;
    display: block; }

.footer-bottom {
  background: #2C2C2C;
  border-top: 2px solid #DDDDDD;
  color: #ced4da;
  font-size: 12px;
  padding: 0.4rem 0; }
  .footer-bottom .fa .fa-github {
    font-size: 20px; }
  .footer-bottom a {
    color: #228ae6; }

.page-wrap {
  min-height: 100vh; }

.asteriskField {
  display: none; }

.full-width {
  width: 100%; }
