@import 'open-color';
@import 'alignments';
@import 'defaults';
@import 'footer';

// * {
//   border: 1px solid red;
// }

.page-wrap {
  min-height: 100vh;
}

.asteriskField {
    display: none;
}

.full-width {
  width: 100%;
}
