$primary: $oc-green-9;

$default-text-on-dark: $oc-gray-1;
$default-text-on-light: $oc-gray-9;
$default-text: $default-text-on-light;
$input-placeholder: $default-text-on-light;

$hr: $oc-gray-9;

$error: $oc-red-9;

$body-background: $oc-gray-2;
