{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{parent.name}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Forum</a></li>
  <li class="active">{{parent.name}}</li>
</ol>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{parent.name}}</h3>
  </div>
  {% if parent.description.rendered %}
  <div class="panel-body">
    {{parent.description.rendered}}
  </div>
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th>
          Topic
        </th>
        <th class="align-center" width="10%">
          Posts
        </th>
        <th class="align-right" width="40%">
          Last Post
        </th>
      </tr>
    </thead>
    <tbody>
      {% for child in children %}
      <tr>
        <td>
          <a href="{% url 'board:topic' child.category.id %}">{{child.category.name}}</a>
          <p>{{child.category.description.rendered}}</p>
        </td>
        <td class="align-center">
          {{child.num_posts}}
        </td>
        <td class="align-right">
          {% if child.last_post %}
          <a href="{% url 'board:post' child.last_post.id %}">{{child.last_post.title|truncatechars_html:30}}</a>
          <p>{{child.last_post.created|date:'D, M d, Y'}}</p>
          <p>by <a href="{% url 'users:profile' child.last_post.user.id %}">{{child.last_post.user}}</a></p>
          {% else %}
          <p>No Posts</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
