{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Forum</a></li>
  <li class="active">{{category.name}}</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{category.name}}</h3>
  </div>
  <div class="panel-body">
    {% if category.description.rendered %}
    {{category.description.rendered}}
    {% endif %}
    {% if user.is_authenticated and user.is_admin %}
    <a href="{% url 'board:subcategory-create' category.id %}" class="pull-right">
      <i class="fa fa-plus" aria-hidden="true"></i> Create Subcategory
    </a>
    {% endif %}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="align-left" width="40%">
          Subcategory
        </th>
        <th class="align-center" width="10%">
          Threads
        </th>
        <th class="align-center" width="10%">
          Replies
        </th>
        <th class="align-right hidden-xs" width="30%">
          Last Thread
        </th>
      </tr>
    </thead>
    <tbody>
      {% for sub in subcategories %}
      <tr>
        <td class="align-left">
          <a href="{% url 'board:subcategory' sub.category.id %}">{{sub.category.name}}</a>
          <p>
            {{sub.category.description.rendered}}
          </p>
          {% if user.is_authenticated %}
          <a href="{% url 'board:thread-create' sub.category.id %}">
            <i class="fa fa-plus" aria-hidden="true"></i> Create Thread
          </a>
          {% endif %}
        </td>
        <td class="align-center">
          {{sub.num_threads}}
        </td>
        <td class="align-center">
          {{sub.num_comments}}
        </td>
        <td class="align-right hidden-xs">
          {% if sub.category.last_thread %}
          <a href="{% url 'board:thread' sub.category.last_thread.id %}">{{sub.category.last_thread.title|truncatechars_html:30}}</a>
          <p>{{sub.category.last_thread.created|date:'D, M d, Y'}}</p>
          <p>by <a href="{% url 'users:profile' sub.category.last_thread.user.username %}">{{sub.category.last_thread.user.username}}</a></p>
          {% else %}
          <p>No Threads</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
