{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Forum</a></li>
  <li><a href="{% url 'board:category' post.category.parent.id %}">{{post.category.parent.name}}</a></li>
  <li><a href="{% url 'board:subcategory' post.category.id %}">{{post.category.name}}</a></li>
  <li class="active">{{post.title}}</li>
</ol>
{% include 'partials/post/post.html' %}
{% if comments %}
{% for comment in comments %}
{% include 'partials/post/comment.html' %}
{% endfor %}
{% endif %}
{% include 'partials/post/new_comment.html' %}
{% endblock %}
