{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Forum</a></li>
  <li><a href="{% url 'board:category' post.category.parent.id %}">{{post.category.parent.name}}</a></li>
  <li><a href="{% url 'board:topic' post.category.id %}">{{post.category.name}}</a></li>
  <li class="active">{{post.title}}</li>
</ol>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{post.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="/media/{{post.user.image}}" alt="" />
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <h3><a href="{% url 'users:profile' post.user.id %}">{{post.user}}</a></h3>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <h3 class="align-right">{{post.created|date}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              {{post.content.rendered}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{post.user.signature.rendered}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if comments %}
{% for comment in comments %}
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="/media/{{comment.user.image}}" alt="" />
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <h3><a href="{% url 'users:profile' comment.user.id %}">{{comment.user}}</a></h3>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <h3 class="align-right">{{comment.created|date}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              {{comment.content.rendered}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{comment.user.signature.rendered}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
