{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}Shoutbox{% endblock %}

{% block content %}

<div class="pageContent">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Forum</a></li>
    <li class="active">Shoutbox</li>
  </ol>
  <div class="card">
    <div class="card__title">
      <a href="/">Shoutbox</a>
    </div>
    <div class="card__body" style="padding: .25rem;">
    {% for shout in shouts %}
      <div style="padding: .5rem; border-bottom: 1px solid #ced4da;">
        <a href="{% url 'users:profile' shout.user.id %}">{{shout.user.username}}</a>: {{shout.content.rendered}}
      </div>
    {% endfor %}
    </div>
    <div class="card__footer">
      <textarea name="name" rows="3" cols="80" placeholder="BBcode supported shout message"></textarea>
      <input type="button" name="name" value="Submit">
    </div>
  </div>
</div>

{% endblock %}
