{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}Shoutbox{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Forum</a></li>
  <li class="active">Shoutbox</li>
</ol>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/">Shoutbox</a></h3>
  </div>
  <div class="panel-body" style="padding: .25rem;">
    <ul class="list-group">
      {% for shout in shouts %}
      <li class="list-group-item"><a href="{% url 'users:profile' shout.user.id %}">{{shout.user.username}}</a>: {{shout.content.rendered}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="panel-footer">
    <form action="/board/shoutbox/" method="post">
      {% csrf_token %}
      {{ shout_form }}
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>

{% endblock %}
