{% extends 'base/base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'board:index' %}">Forum</a></li>
  <li><a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a></li>
  <li class="active">{{category.name}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    {{category.name}}
  </div>
  <div class="panel-body">
    {% if category.description.rendered %}
    {{category.description.rendered}}
    {% endif %}
    {% if can_post %}
    <a href="{% url 'board:thread-create' category.id %}" class="pull-right">
      <i class="fa fa-plus" aria-hidden="true"></i> Create Thread
    </a>
    {% endif %}
  </div>
  {% include 'tables/subcategory_table.html' %}
</div>
{% endblock %}
