{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'board:index' %}">Forum</a></li>
  <li><a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a></li>
  <li class="active">{{category.name}}</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    {{category.name}}
  </div>
  <div class="panel-body">
    {% if category.description.rendered %}
    {{category.description.rendered}}
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'board:thread-create' category.id %}" class="pull-right">
      <i class="fa fa-plus" aria-hidden="true"></i> Create Thread
    </a>
    {% endif %}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="align-left" width="40%">
          Title
        </th>
        <th class="align-left" width="20%">
          User
        </th>
        <th class="align-center" widht="10%">
          Posts
        </th>
        <th class="align-right hidden-xs" width="30%">
          Last Post
        </th>
      </tr>
    </thead>
    <tbody>
      {% for thread in threads %}
      <tr>
        <td class="align-left">
          <a href="{% url 'board:thread' thread.obj.id %}">{{thread.obj.title}}</a>
        </td>
        <td class="align-left">
          <a href="{% url 'users:profile' thread.obj.user.username %}">{{thread.obj.user.username}}</a>
        </td>
        <td class="align-center">
          {{thread.num_posts}}
        </td>
        <td class="align-right hidden-xs">
          {% if thread.obj.last_post %}
          <a href="{% url 'users:profile' thread.obj.last_post.user.username %}">{{thread.obj.last_post.user.username}}</a>
          <p>{{thread.obj.last_post.created|date:'D, M d, Y'}}</p>
          {% else %}
          <p>No Posts</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
