{% extends 'base/base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'board:index' %}">Forum</a></li>
  <li><a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a></li>
  <li class="active">{{category.name}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    {{category.name}}
  </div>
  <div class="panel-body">
    {% if category.description.rendered %}
    {{category.description.rendered}}
    {% endif %}
    {% if can_post %}
    <a href="{% url 'board:thread-create' category.id %}" class="pull-right">
      <i class="fa fa-plus" aria-hidden="true"></i> Create Thread
    </a>
    {% endif %}
  </div>
  {% include 'tables/subcategory_table.html' %}
</div>
<nav aria-label="...">
  <ul class="pager">
    {% if threads.has_previous %}
    <li><a href="?page={{threads.previous_page_number}}">Previous</a></li>
    {% else %}
    <li class="disabled"><a>Previous</a></li>
    {% endif %}
    <li>Page {{threads.number}} of {{threads.paginator.num_pages}}</li>
    {% if threads.has_next %}
    <li><a href="?page={{threads.next_page_number}}">Next</a></li>
    {% else %}
    <li class="disabled"><a>Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
