{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Forum</a></li>
  <li><a href="{% url 'board:category' category.parent.id %}">{{category.parent.name}}</a></li>
  <li class="active">{{category.name}}</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    {{category.name}}
    <a href="{% url 'board:new_post' category.id %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="panel-body">
    {% if category.description.rendered %}
    {{category.description.rendered}}
    {% endif %}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          User
        </th>
        <th class="align-center">
          Comments
        </th>
        <th class="align-right" width="30%">
          Last Comment
        </th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>
          <a href="{% url 'board:post' post.post.id %}">{{post.post.title}}</a>
        </td>
        <td>
          <a href="{% url 'users:profile' post.post.user.username %}">{{post.post.user.username}}</a>
        </td>
        <td class="align-center">
          {{post.num_comments}}
        </td>
        <td class="align-right">
          {% if post.last_comment %}
          <a href="{% url 'users:profile' post.last_comment.user.username %}">{{post.last_comment.user.username}}</a>
          <p>{{post.last_comment.created|date:'D, M d, Y'}}</p>
          {% else %}
          <p>No Posts</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
