{% extends 'base.html' %}
{% load static %}
{% load bbcode_tags %}

{% block title %}{{subcategory_query.category.name}}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Forum</a></li>
  <li><a href="{% url 'board:category' subcategory_query.category.parent.id %}">{{subcategory_query.category.parent.name}}</a></li>
  <li class="active">{{subcategory_query.category.name}}</li>
</ol>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{subcategory_query.category.name}}
    <a href="{% url 'board:post-create' subcategory_query.category.id %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="panel-body">
    {% if subcategory_query.category.description.rendered %}
    {{subcategory_query.category.description.rendered}}
    {% endif %}
  </div>
  {% include 'partials/post_table/post_table.html' %}
</div>
{% endblock %}
