<tr>
  <td class="align-left">
    <a href="{% url 'board:thread' thread.thread.id %}">{{thread.thread.title}}</a>
  </td>
  <td class="align-left">
    <a href="{% url 'users:profile' thread.thread.user.username %}">{{thread.thread.user.username}}</a>
  </td>
  <td class="align-center">
    {{thread.num_comments}}
  </td>
  <td class="align-right hidden-xs">
    {% if thread.thread.last_comment %}
    <a href="{% url 'users:profile' thread.thread.last_comment.user.username %}">{{thread.thread.last_comment.user.username}}</a>
    <p>{{thread.thread.last_comment.created|date:'D, M d, Y'}}</p>
    {% else %}
    <p>No Replies</p>
    {% endif %}
  </td>
</tr>
