<div class="nav">
  <div class="nav-upper">
    <div class="container">
      <div class="nav-upper-content">
        <!-- LEFT -->

        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <a class="nav-upper-link" href="/admin/"><i class="fa fa-user-plus fa-fw"></i> Admin</a>
        {% endif %}
        {% endif %}

        <div class="nav-spacer"></div>

        <!-- RIGHT -->

        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <a class="nav-upper-link" href="{% url 'board:reports-list' %}"><i class="fa fa-ban fa-fw" aria-hidden="true"></i> Reports {% if unresolved_reports > 0%}<span class="badge">{{unresolved_reports}}</span>{% endif %}</a>
        {% endif %}
        <a class="nav-upper-link" href="{% url 'board:me' %}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Account</a>
        <a class="nav-upper-link" href="{% url 'board:settings' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</a>
        <a class="nav-upper-link" href="{% url 'board:logout' %}"><i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i> Logout</a>
        {% else %}
        <a class="nav-upper-link" href="{% url 'board:register' %}"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Sign up</a>
        <a class="nav-upper-link" href="{% url 'board:login' %}"><i class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></i> Login</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="nav-main">
    <div class="container">
      <div class="nav-main-content">
        <a class="nav-main-title" href="/">{{BOARD_SETTINGS.BOARD_NAME}}</a>
        <a class="nav-main-link" href="{% url 'board:index' %}">Forum</a>
        <a class="nav-main-link" href="{% url 'board:members-list' %}">Members</a>
        <div class="nav-spacer"></div>
        <form action="/board/search/" method="get">
          <div class="nav-search">
            <span class="fa fa-search fa-fw"></span>
            <input id="id_keyword" maxlength="80" name="keyword" type="text" placeholder="Search" required />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
